n8n/workflows/StPeteMusic/health-monitor.json
{
  "name": "Health Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 60
            }
          ]
        }
      },
      "id": "hm-0001-0000-0000-000000000001",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { label: 'Web app',   url: 'https://www.stpetemusic.live/api/health',      acceptAny: false } },\n  { json: { label: 'Admin app', url: 'https://admin.stpetemusic.live/api/health',    acceptAny: false } },\n  { json: { label: 'n8n',       url: 'https://n8n.stpetemusic.live/healthz',         acceptAny: false } },\n  { json: { label: 'Listmonk',  url: 'https://listmonk.stpetemusic.live/api/health', acceptAny: false } },\n  { json: { label: 'HLS CDN',   url: 'https://hls.stpetemusic.live',                  acceptAny: true  } }\n];"
      },
      "id": "hm-0001-0000-0000-000000000002",
      "name": "Define Endpoints",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 3
            }
          },
          "timeout": 12000
        }
      },
      "id": "hm-0001-0000-0000-000000000003",
      "name": "Ping Endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const pings = $input.all();\nconst endpoints = $('Define Endpoints').all();\n\nconst failures = pings.map((ping, i) => {\n  const endpoint = endpoints[i].json;\n  const statusCode = ping.json.statusCode || 0;\n  const ok = endpoint.acceptAny ? statusCode > 0 : (statusCode >= 200 && statusCode < 400);\n  return { label: endpoint.label, ok, statusCode };\n}).filter(r => !r.ok);\n\nif (failures.length === 0) return [];\n\n// Rate limit: only alert once per hour per failing service\nconst workflowData = $getWorkflowStaticData('global');\nconst now = Date.now();\nconst DEBOUNCE_MS = 60 * 60 * 1000;\n\nconst newFailures = failures.filter(f => {\n  const lastAlert = workflowData[`lastAlert_${f.label}`] || 0;\n  return now - lastAlert > DEBOUNCE_MS;\n});\n\nnewFailures.forEach(f => {\n  workflowData[`lastAlert_${f.label}`] = now;\n});\n\nif (newFailures.length === 0) return [];\n\nconst names = newFailures.map(f => f.label).join(', ');\nconst lines = newFailures\n  .map(f => `${f.label} \\u2014 ${f.statusCode > 0 ? 'HTTP ' + f.statusCode : 'TIMEOUT'}`)\n  .join('\\n');\n\nreturn [{ json: {\n  subject: `\\uD83D\\uDEA8 StPeteMusic: ${names}`,\n  text: `${lines}\\n\\n\\u2192 https://admin.stpetemusic.live`\n} }];"
      },
      "id": "hm-0001-0000-0000-000000000004",
      "name": "Check Failures",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.RESEND_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ from: 'hello@stpetemusic.live', to: ['theburgmusic@gmail.com'], subject: $json.subject, text: $json.text }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 8000
        }
      },
      "id": "hm-0001-0000-0000-000000000005",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0]
    }
  ],
  "pinData": {},
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Define Endpoints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Endpoints": {
      "main": [
        [
          {
            "node": "Ping Endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ping Endpoint": {
      "main": [
        [
          {
            "node": "Check Failures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Failures": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
