n8n/workflows/StPeteMusic/multi-gcal-to-db-sync.json
{
  "name": "multi-gcal-to-db-sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 96
            }
          ]
        }
      },
      "id": "716670e7-071e-4535-a9fe-5d34a7799d92",
      "name": "Every 96 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Add new venue here to sync it — also add to apps/web/src/lib/venues.ts\nreturn [\n  { json: { slug: 'suite-e-studios', calendarId: '98a6b333df9c0d145983eab458358c58692344b3436a7c292772019118db6e19@group.calendar.google.com' } },\n  { json: { slug: 'blueberry-patch', calendarId: '71e2433f12b9a7ffe5cfa52bb00dba523406043b321fe5f9dcf354476ea08555@group.calendar.google.com' } },\n  { json: { slug: 'cage-brewing',    calendarId: 'e0cc088fc8847d4de888142b6d18c69c6de370afaa268432ccae930d6e1b7108@group.calendar.google.com' } },\n  { json: { slug: 'rubys-elixir',    calendarId: 'ac1f54b2bbdd7ba7e94d95ec6a6090b26af944c614e35e3a01582f956ed275dd@group.calendar.google.com' } },\n  { json: { slug: 'the-bends',       calendarId: '2c1103fbae69f2a222a4a163203aff4decaa5af400fb9a68a0dada62860d7f38@group.calendar.google.com' } },\n];"
      },
      "id": "venue-config-001",
      "name": "Venue Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-over-venues-001",
      "name": "Loop Over Venues",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.calendarId }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $now.startOf('month').toISO() }}",
          "timeMax": "={{ $now.plus(2, 'months').endOf('month').toISO() }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "010bdea7-d036-4d24-bf75-9ea5ee065cb0",
      "name": "Get Calendar Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "bsYCJ9AtPKlBbmSs",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const venues = $('Venue Config').all();\nconst venueSlug = venues[$runIndex]?.json?.slug ?? null;\n\nreturn $input.all().map(item => ({\n  json: { ...item.json, _venueSlug: venueSlug },\n}));"
      },
      "id": "add-venue-slug-001",
      "name": "Add Venue Slug",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function esc(v) {\n  if (v === null || v === undefined) return 'NULL';\n  return \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\n}\n\nfunction stripHtml(html) {\n  if (!html) return null;\n  return html\n    .replace(/<br\\s*\\/?>\\s*/gi, '\\n')\n    .replace(/<\\/li>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<[^>]+>/g, '')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&nbsp;/g, ' ')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim() || null;\n}\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const ev = item.json;\n  const venueSlug = ev._venueSlug || null;\n\n  if (!ev.start?.dateTime) continue;\n  const title = (ev.summary || '').trim();\n  if (!title) continue;\n\n  const description = stripHtml(ev.description);\n  const titleLower = title.toLowerCase();\n  const rawDesc = (ev.description || '');\n\n  let tag = null;\n  if (titleLower.includes('open mic') || titleLower.includes('open-mic')) {\n    tag = 'open-mic';\n  } else if (\n    titleLower.includes('community jam') ||\n    titleLower.includes('jam night') ||\n    titleLower.includes('instant noodles')\n  ) {\n    tag = 'community-jam';\n  } else if (\n    titleLower.includes(' dj ') ||\n    titleLower.startsWith('dj ') ||\n    titleLower.includes('dance night') ||\n    titleLower.includes('open house') ||\n    titleLower.includes('ohc')\n  ) {\n    tag = 'dj-dance';\n  } else if (\n    titleLower.includes('final friday') ||\n    titleLower.includes('live band') ||\n    titleLower.includes('band night') ||\n    titleLower.startsWith('bands')\n  ) {\n    tag = 'live-band';\n  } else if (\n    titleLower.includes('art walk') ||\n    titleLower.includes('second saturday') ||\n    titleLower.includes('2nd saturday') ||\n    titleLower.includes('community')\n  ) {\n    tag = 'community-event';\n  } else if (titleLower.includes('workshop') || titleLower.includes('class')) {\n    tag = 'workshop-class';\n  } else {\n    const tagsMatch = rawDesc.match(/^tags:\\s*(.+)$/im);\n    if (tagsMatch) tag = tagsMatch[1].trim().split(',')[0].trim();\n  }\n\n  let ticketUrl = null;\n  const ticketsMatch = rawDesc.match(/^tickets:\\s*(https?:\\/\\/\\S+)$/im);\n  if (ticketsMatch) ticketUrl = ticketsMatch[1].trim();\n\n  const googleEventId = ev.id;\n  const startTime = ev.start.dateTime;\n  const endTime = ev.end?.dateTime || null;\n  const location = ev.location || null;\n\n  const sql = `\nINSERT INTO events (\n  google_event_id, title, description, start_time, end_time,\n  location, tag, ticket_url, venue, is_active, synced_at\n) VALUES (\n  ${esc(googleEventId)}, ${esc(title)}, ${esc(description)},\n  ${esc(startTime)}::TIMESTAMPTZ, ${endTime === null ? 'NULL' : esc(endTime) + '::TIMESTAMPTZ'},\n  ${esc(location)}, ${esc(tag)}, ${esc(ticketUrl)}, ${esc(venueSlug)}, true, NOW()\n)\nON CONFLICT (google_event_id) DO UPDATE SET\n  title       = EXCLUDED.title,\n  description = EXCLUDED.description,\n  start_time  = EXCLUDED.start_time,\n  end_time    = EXCLUDED.end_time,\n  location    = EXCLUDED.location,\n  tag         = EXCLUDED.tag,\n  ticket_url  = EXCLUDED.ticket_url,\n  venue       = EXCLUDED.venue,\n  is_active   = true,\n  synced_at   = NOW()\nRETURNING id, google_event_id, title, venue\n`.trim();\n\n  results.push({ json: { sql, title, tag, venue: venueSlug } });\n}\n\nreturn results;"
      },
      "id": "4d947fd1-3816-42a2-b446-df1bd8317f04",
      "name": "Parse Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "12754b8e-59e9-47eb-8205-bfa1471afcc2",
      "name": "Upsert Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1600,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "pcxLOCySr6sIFHln",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every 96 Hours": {
      "main": [
        [
          {
            "node": "Venue Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Venue Config": {
      "main": [
        [
          {
            "node": "Loop Over Venues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Venues": {
      "main": [
        [
          {
            "node": "Get Calendar Events",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Calendar Events": {
      "main": [
        [
          {
            "node": "Add Venue Slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Venue Slug": {
      "main": [
        [
          {
            "node": "Parse Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Events": {
      "main": [
        [
          {
            "node": "Upsert Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Event": {
      "main": [
        [
          {
            "node": "Loop Over Venues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "StPeteMusic"
    }
  ]
}
