n8n/workflows/StPeteMusic/newsletter-publisher.json
{
  "name": "Newsletter Publisher",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 220],
      "id": "b2c3d4e5-0001-0001-0001-000000000001",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Determine which newsletter file to publish.\n// Defaults to current month; override year/month here if publishing a different month.\nconst now = new Date();\nconst year = now.getFullYear().toString();\nconst month = String(now.getMonth() + 1).padStart(2, '0');\nconst monthName = now.toLocaleString('en-US', { month: 'long' });\n\nreturn {\n  json: {\n    year,\n    month,\n    monthName,\n    monthYear: `${monthName} ${year}`,\n    obsidianPath: `StPeteMusic/newsletters/${year}/${month}-newsletter.md`,\n    newsletterTitle: `St Pete Music Newsletter - ${monthName} ${year}`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 220],
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Get Month Path"
    },
    {
      "parameters": {
        "url": "={{ $env.OBSIDIAN_HOST }}/vault/{{ $json.obsidianPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.olrapi.note+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 220],
      "id": "b2c3d4e5-0003-0003-0003-000000000003",
      "name": "Read Newsletter from Obsidian",
      "credentials": {
        "httpBearerAuth": {
          "id": "4tIhQEVZNqoTVr0Z",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the Obsidian API response and validate the newsletter is approved.\n// The API returns JSON with .frontmatter and .content fields.\nconst raw = $input.first().json;\nlet parsed;\ntry {\n  parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n} catch (e) {\n  throw new Error(`Could not parse Obsidian response: ${e.message}`);\n}\n\nconst fm = parsed.frontmatter || {};\nconst content = parsed.content || '';\n\n// Gate: only process approved newsletters\nif (fm.status !== 'approved') {\n  throw new Error(\n    `Newsletter status is \"${fm.status}\" — change it to \"approved\" in Obsidian before publishing.`\n  );\n}\n\n// Extract the HTML body between the ## Newsletter Body HTML header and the next ## header\n// The newsletter body HTML is everything after '## Newsletter Body HTML\\n' until the next '## '\nconst bodyMatch = content.match(/##\\s+Newsletter Body HTML\\s*\\n([\\s\\S]*?)(?:\\n##\\s|$)/);\nconst htmlBody = bodyMatch ? bodyMatch[1].trim() : '';\n\nif (!htmlBody) {\n  throw new Error('Could not extract HTML body from newsletter. Check the Obsidian file format.');\n}\n\n// Extract subject line (the line after '## Campaign Subject Line\\n')\nconst subjectMatch = content.match(/##\\s+Campaign Subject Line\\s*\\n([^\\n]+)/);\nconst subject = subjectMatch ? subjectMatch[1].replace(/^[\\s🎵]+/, '').trim() : fm.title;\n\nreturn {\n  json: {\n    title: fm.title || '',\n    month: fm.month || '',\n    sendDate: fm.sendDate || '',\n    subject,\n    htmlBody,\n    obsidianPath: $('Get Month Path').first().json.obsidianPath,\n    fullContent: content,\n    frontmatter: fm\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 220],
      "id": "b2c3d4e5-0004-0004-0004-000000000004",
      "name": "Parse & Validate"
    },
    {
      "parameters": {
        "jsCode": "// Build the Listmonk campaign creation payload.\n// The htmlBody is already inline-styled HTML from the AI — it's injected into\n// the base template via {{ template \"content\" . }} in Listmonk.\n\nconst input = $input.first().json;\n\n// Listmonk campaign payload\nconst campaign = {\n  name: input.title,\n  subject: input.subject,\n  lists: [3],          // List ID 3 = \"St Pete Music Newsletter\"\n  template_id: 5,      // Template ID 5 = \"St Pete Music Monthly newsletter TEMPLATE\"\n  type: 'regular',\n  content_type: 'html',\n  body: input.htmlBody,\n  status: 'draft',    // Draft — user manually reviews and sends in Listmonk UI\n  send_at: null       // null = no scheduled send; user clicks Send in Listmonk\n};\n\nreturn {\n  json: {\n    ...input,\n    listmonkPayload: campaign\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 220],
      "id": "b2c3d4e5-0005-0005-0005-000000000005",
      "name": "Build Campaign Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://listmonk:9000/api/campaigns",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json.listmonkPayload) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 220],
      "id": "b2c3d4e5-0006-0006-0006-000000000006",
      "name": "Create Listmonk Campaign",
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_LISTMONK_BASIC_AUTH_CREDENTIAL_ID",
          "name": "Listmonk API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract campaign ID from Listmonk API response and build updated Obsidian content.\n// Listmonk returns: { data: { id: 123, ... } }\nconst response = $input.first().json;\nlet campaignId = '';\ntry {\n  const body = response.body || response;\n  const data = typeof body === 'string' ? JSON.parse(body) : body;\n  campaignId = String((data.data && data.data.id) || data.id || '');\n} catch (e) {\n  // Non-fatal — campaign was created, ID extraction failed\n  campaignId = 'unknown';\n}\n\n// Pull original content from upstream\nconst upstream = $('Parse & Validate').first().json;\nconst today = new Date().toISOString().split('T')[0];\n\n// Update the YAML frontmatter: status → queued, listmonkCampaignId → actual ID\nlet updatedContent = upstream.fullContent;\nupdatedContent = updatedContent\n  .replace(/^status:\\s*[\"']?approved[\"']?/m, 'status: \"queued\"')\n  .replace(/^listmonkCampaignId:\\s*[\"']{0,2}/m, `listmonkCampaignId: \"${campaignId}\"`);\n\n// If replacement didn't work (edge case), add the field after title line\nif (!updatedContent.includes(`listmonkCampaignId: \"${campaignId}\"`)) {\n  updatedContent = updatedContent.replace(\n    /^(title:.*)/m,\n    `$1\\nlistmonkCampaignId: \"${campaignId}\"`\n  );\n}\n\nreturn {\n  json: {\n    campaignId,\n    obsidianPath: upstream.obsidianPath,\n    updatedContent,\n    title: upstream.title\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 220],
      "id": "b2c3d4e5-0007-0007-0007-000000000007",
      "name": "Extract Campaign ID"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.OBSIDIAN_HOST }}/vault/{{ $json.obsidianPath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/markdown",
        "body": "={{ $json.updatedContent }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1920, 220],
      "id": "b2c3d4e5-0008-0008-0008-000000000008",
      "name": "Update Obsidian Status",
      "credentials": {
        "httpBearerAuth": {
          "id": "4tIhQEVZNqoTVr0Z",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Final summary output for the n8n execution log\nconst input = $('Extract Campaign ID').first().json;\nreturn {\n  json: {\n    success: true,\n    message: `✅ Listmonk campaign created as draft (ID: ${input.campaignId}). Go to https://listmonk.stpetemusic.live to review and send.`,\n    campaignId: input.campaignId,\n    title: input.title\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 220],
      "id": "b2c3d4e5-0009-0009-0009-000000000009",
      "name": "Done"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [{"node": "Get Month Path", "type": "main", "index": 0}]
      ]
    },
    "Get Month Path": {
      "main": [
        [{"node": "Read Newsletter from Obsidian", "type": "main", "index": 0}]
      ]
    },
    "Read Newsletter from Obsidian": {
      "main": [
        [{"node": "Parse & Validate", "type": "main", "index": 0}]
      ]
    },
    "Parse & Validate": {
      "main": [
        [{"node": "Build Campaign Payload", "type": "main", "index": 0}]
      ]
    },
    "Build Campaign Payload": {
      "main": [
        [{"node": "Create Listmonk Campaign", "type": "main", "index": 0}]
      ]
    },
    "Create Listmonk Campaign": {
      "main": [
        [{"node": "Extract Campaign ID", "type": "main", "index": 0}]
      ]
    },
    "Extract Campaign ID": {
      "main": [
        [{"node": "Update Obsidian Status", "type": "main", "index": 0}]
      ]
    },
    "Update Obsidian Status": {
      "main": [
        [{"node": "Done", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York"
  },
  "versionId": "newsletter-publisher-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "newsletter-publisher",
  "tags": [
    {"name": "newsletter"},
    {"name": "stpetemusic"}
  ]
}
