n8n/workflows/StPeteMusic/notion-to-social-media-posting.json
{
  "name": "Notion to Social Media Posting",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1184,
        176
      ],
      "id": "4c0e6eed-e176-43f4-9750-0e0a63933476",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "49cebf36f8774bd69c4329d2c0d750c5",
          "mode": "id"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Status|status",
              "condition": "equals",
              "selectValue": "Ready",
              "statusValue": "Ready"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -976,
        176
      ],
      "id": "015ea702-9a6d-49dc-b895-327f780f63f8",
      "name": "Query Notion Database",
      "credentials": {
        "notionApi": {
          "id": "ZXEH8wTvzaAHv60e",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract post data from Notion page properties\n// Using actual property names from the database\n\nreturn {\n  pageId: $json.id,\n  notionId: $json.property_id || '',\n  title: $json.name || '',\n  caption: $json.property_caption_text || '',\n  platform: $json.property_platform || '',\n  mediaType: $json.property_media_type || '',\n  mediaUrl: $json.property_media_link || '',\n  hashtags: $json.property_hashtags || '',\n  tags: $json.property_tags_mentions || '',\n  postDate: $json.property_post_date || '',\n  postTime: $json.property_post_time || '',\n  privacyStatus: $json.property_privacy_status || 'unlisted',\n  youtubePlaylist: $json.property_youtube_playlist || 'Suite E Studios',\n  postUrl: $json.url\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        176
      ],
      "id": "e0168489-e4f5-407b-98f3-430bad074ee6",
      "name": "Extract Post Data"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.platform }}",
        "rules": {
          "rules": [
            {
              "value2": "IG"
            },
            {
              "value2": "FB",
              "output": 1
            },
            {
              "value2": "YT",
              "output": 2
            },
            {
              "operation": "notContains",
              "value2": "IG, FB, YT",
              "output": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -576,
        176
      ],
      "id": "625c49d6-449c-481b-ad8d-132a532576ef",
      "name": "Platform Router",
      "outputs": [
        "Instagram",
        "Facebook",
        "YouTube"
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare Instagram media data\nconst mediaUrl = $json.mediaUrl;\nconst caption = ($json.caption || '') + ' ' + ($json.hashtags || '');\nconst isVideo = $json.mediaType?.toLowerCase() === 'video';\nconst igAccessToken = $env.IG_ACCESS_TOKEN;\nconst igUserId = $env.IG_USER_ID;\n\nreturn {\n  pageId: $json.pageId,\n  mediaUrl: mediaUrl,\n  caption: caption.trim(),\n  isVideo: isVideo,\n  mediaType: isVideo ? 'video_url' : 'image_url',\n  igAccessToken: igAccessToken,\n  igUserId: igUserId\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -16
      ],
      "id": "d27f939e-dba3-4ddf-9440-e1b03fe40b93",
      "name": "Prepare Instagram Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=`https://graph.facebook.com/v16.0/${$json.igUserId}/media`",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"{{$json.mediaType}}\": \"{{$json.mediaUrl}}\",\n  \"caption\": \"{{$json.caption}}\",\n  \"access_token\": \"{{$json.igAccessToken}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -176,
        -80
      ],
      "id": "63e58d30-94ee-4b7e-9bb2-4e6e08409ac7",
      "name": "Create Instagram Container"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=`https://graph.facebook.com/v16.0/${$json.igUserId}/media_publish`",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"creation_id\": \"{{$json.id}}\",\n  \"access_token\": \"{{$json.igAccessToken}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        16,
        -80
      ],
      "id": "a19ccbbf-fb94-4397-8128-2c21b7a41e7f",
      "name": "Publish Instagram Post"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "49cebf36f8774bd69c4329d2c0d750c5",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status",
              "selectValue": "Posted"
            },
            {
              "key": "Posted Date|date",
              "date": "={{new Date().toISOString().split('T')[0]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        224,
        -80
      ],
      "id": "f51eaddd-47a2-4232-a6a1-6da393802bf8",
      "name": "Update Notion (Instagram)",
      "credentials": {
        "notionApi": {
          "id": "ZXEH8wTvzaAHv60e",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare Facebook post data\nconst caption = ($json.caption || '') + ' ' + ($json.hashtags || '');\n\nreturn {\n  pageId: $env.FB_PAGE_ID,\n  message: caption.trim(),\n  mediaUrl: $json.mediaUrl,\n  mediaType: $json.mediaType?.toLowerCase()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        128
      ],
      "id": "e1d9f1f9-efdf-4c2e-a8f5-07fcbc36b0dc",
      "name": "Prepare Facebook Data"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "={{ $json.pageId }}",
        "edge": "feed",
        "options": {
          "queryParametersJson": "={\n    \"message\": \"{{ $json.message }}\",\n    \"link\": \"{{ $json.mediaUrl }}\"\n  }"
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -160,
        128
      ],
      "id": "c753d164-1edb-4447-9db3-78bb0c9a2067",
      "name": "Post to Facebook",
      "credentials": {
        "facebookGraphApi": {
          "id": "LIfGI2uVpSQETLNs",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "49cebf36f8774bd69c4329d2c0d750c5",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status",
              "selectValue": "Posted"
            },
            {
              "key": "Posted Date|date",
              "date": "={{new Date().toISOString().split('T')[0]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        112,
        96
      ],
      "id": "28025298-94f3-449a-a5af-97d0a564985e",
      "name": "Update Notion (Facebook)",
      "credentials": {
        "notionApi": {
          "id": "ZXEH8wTvzaAHv60e",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare YouTube upload data\nconst title = $json.title || 'Untitled Video';\nconst description = ($json.caption || '') + '\\n\\n' + ($json.hashtags || '');\nconst tags = ($json.hashtags || '').split(' ').filter(tag => tag.startsWith('#')).map(tag => tag.substring(1));\nconst mediaUrl = $json.mediaUrl || '';\n// Use privacyStatus if not 'Scheduled', otherwise default to 'unlisted' for the actual upload\nconst privacyStatus = ($json.privacyStatus === 'Scheduled') ? 'unlisted' : ($json.privacyStatus || 'unlisted');\nconst youtubePlaylist = $json.youtubePlaylist || 'Suite E Studios';\n\n// Extract Google Drive file ID from URL if applicable\nlet driveFileId = null;\nif (mediaUrl.includes('drive.google.com')) {\n  const match = mediaUrl.match(/[?&]id=([a-zA-Z0-9-_]+)/) || mediaUrl.match(/\\/d\\/([a-zA-Z0-9-_]+)/);\n  if (match && match[1]) {\n    driveFileId = match[1];\n  }\n}\n\nreturn {\n  pageId: $json.pageId,\n  mediaUrl: mediaUrl,\n  driveFileId: driveFileId,\n  title: title,\n  description: description.trim(),\n  tags: tags.length > 0 ? tags : ['video', 'upload'],\n  privacyStatus: privacyStatus,\n  youtubePlaylist: youtubePlaylist\n};\n\n// Note: YouTube uses OAuth2 credential from n8n, no token needed here"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        272
      ],
      "id": "1fe58c8e-a7f0-410f-b052-93a2205c236a",
      "name": "Prepare YouTube Data"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{$json.driveFileId}}?alt=media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -176,
        272
      ],
      "id": "90375e1c-7a24-4f0a-816e-6cd4746d62e4",
      "name": "Download Video from Google Drive",
      "credentials": {
        "googleOAuth2Api": {
          "id": "IL8Tigtg9I9WHhIx",
          "name": "Google account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "49cebf36f8774bd69c4329d2c0d750c5",
          "mode": "id"
        },
        "pageId": "={{ $json.pageId }}",
        "simple": true,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status",
              "selectValue": "Posted"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        464,
        256
      ],
      "id": "c2756b7b-227f-4bef-b04a-2a757aedfb0e",
      "name": "Update Notion (YouTube)",
      "credentials": {
        "notionApi": {
          "id": "ZXEH8wTvzaAHv60e",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Handle unsupported platforms\nreturn {\n  error: 'Unsupported platform: ' + ($json.platform || 'unknown'),\n  pageId: $json.pageId,\n  message: 'This platform is not yet configured in the workflow'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        432
      ],
      "id": "c1a1de1a-267c-42d8-97cf-9b72617ccd11",
      "name": "Unsupported Platform"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1184,
        432
      ],
      "id": "ef1864c7-7959-405f-86dd-2ad6e3237834",
      "name": "Error Handler"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract error details\nconst errorData = {\n  message: $json.errorMessage || 'Unknown error',\n  nodeSource: $json.nodeName || 'Unknown node',\n  timestamp: new Date().toISOString(),\n  executionId: $execution.id\n};\n\nreturn errorData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        432
      ],
      "id": "92fb872b-3fab-47b5-8551-220eedff4368",
      "name": "Format Error Data"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "49cebf36f8774bd69c4329d2c0d750c5",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status",
              "selectValue": "Error"
            },
            {
              "key": "Notes|rich_text",
              "textContent": "Error during posting: {{$json.message}} (Node: {{$json.nodeSource}})"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -784,
        432
      ],
      "id": "5356a2f5-d96f-4503-85e0-aa53f4de384a",
      "name": "Update Notion with Error",
      "credentials": {
        "notionApi": {
          "id": "ZXEH8wTvzaAHv60e",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Format YouTube publishAt timestamp based on privacy status\nconst isScheduled = $json.privacyStatus === 'Scheduled';\nlet publishAt = null;\n\n// Only format timestamp if privacy status is 'Scheduled'\nif (isScheduled) {\n  const dateStr = $json.postDate?.start || $json.postDate || ''; // \"2026-02-28\"\n  const timeStr = $json.postTime || ''; // \"10:00 AM\"\n  \n  // Parse time string (handles both 12-hour with AM/PM and 24-hour formats)\n  let hours = 0;\n  let minutes = 0;\n  \n  if (timeStr) {\n    const timeParts = timeStr.match(/(\\d{1,2}):(\\d{2})\\s*(AM|PM)?/i);\n    \n    if (timeParts) {\n      hours = parseInt(timeParts[1]);\n      minutes = parseInt(timeParts[2]);\n      const meridiem = timeParts[3]?.toUpperCase();\n      \n      // Convert 12-hour to 24-hour if needed\n      if (meridiem === 'PM' && hours !== 12) {\n        hours += 12;\n      } else if (meridiem === 'AM' && hours === 12) {\n        hours = 0;\n      }\n    }\n  }\n  \n  // Format as ISO 8601 with Z (UTC)\n  publishAt = dateStr ? `${dateStr}T${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}:00Z` : null;\n}\n\nreturn {\n  ...($json), // Keep all existing data\n  publishAt: publishAt // null if posting immediately, formatted timestamp if Scheduled\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        272
      ],
      "id": "8a4e807a-6797-441d-ad7d-c2773f0e733a",
      "name": "Format YouTube PublishAt"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.title }}",
        "regionCode": "US",
        "categoryId": "10",
        "options": {
          "description": "={{ $json.description }}",
          "privacyStatus": "={{ $json.privacyStatus }}",
          "publishAt": "={{ $json.publishAt }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        256,
        288
      ],
      "id": "38ac17e7-eddd-4955-8a1a-8e2ef088a107",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "mTi24S9mwCIxSqWV",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/youtube/v3/playlistItems?part=snippet&key=$env.YOUTUBE_API_KEY",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"playlistId\": \"PL5gTeopOibQREpXSSqHwVaZTWv1EdUuki\",\n    \"resourceId\": {\n      \"kind\": \"youtube#video\",\n      \"videoId\": \"{{ $json.id }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        288
      ],
      "id": "add-to-suite-e-playlist",
      "name": "Add to Suite E Studios Playlist",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Query Notion Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Notion Database": {
      "main": [
        [
          {
            "node": "Extract Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Post Data": {
      "main": [
        [
          {
            "node": "Platform Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Platform Router": {
      "main": [
        [
          {
            "node": "Prepare Instagram Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Facebook Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare YouTube Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsupported Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Instagram Data": {
      "main": [
        [
          {
            "node": "Create Instagram Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Instagram Container": {
      "main": [
        [
          {
            "node": "Publish Instagram Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Instagram Post": {
      "main": [
        [
          {
            "node": "Update Notion (Instagram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Facebook Data": {
      "main": [
        [
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook": {
      "main": [
        [
          {
            "node": "Update Notion (Facebook)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare YouTube Data": {
      "main": [
        [
          {
            "node": "Format YouTube PublishAt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format YouTube PublishAt": {
      "main": [
        [
          {
            "node": "Download Video from Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video from Google Drive": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Format Error Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Data": {
      "main": [
        [
          {
            "node": "Update Notion with Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video": {
      "main": [
        [
          {
            "node": "Add to Suite E Studios Playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Suite E Studios Playlist": {
      "main": [
        [
          {
            "node": "Update Notion (YouTube)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0526a534-cdad-4c3e-9d05-1ff4e854d19b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9293fc07055c195e236ac85072d0208fe886bdff22e173da7b17b3c0599dbb93"
  },
  "id": "vSIZBesUL9n5aiL6",
  "tags": [
    {
      "updatedAt": "2026-02-10T20:20:09.838Z",
      "createdAt": "2026-02-10T20:20:09.838Z",
      "id": "D9E8utmVDstMtU5F",
      "name": "Multi-Platform"
    },
    {
      "updatedAt": "2026-02-10T20:20:09.840Z",
      "createdAt": "2026-02-10T20:20:09.840Z",
      "id": "E2gcnw4bdYuXZ0TH",
      "name": "Notion Integration"
    },
    {
      "updatedAt": "2026-02-10T20:20:09.826Z",
      "createdAt": "2026-02-10T20:20:09.826Z",
      "id": "lmJLNTLcj9Hi6oau",
      "name": "Social Media"
    }
  ]
}