n8n/workflows/StPeteMusic/notion-post-creator.json
{
  "name": "Notion Post Creator",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "You are the social media content manager for **@StPeteMusic** — a music promoter in St. Petersburg, FL.\n\n---\n\n## ⚠️ IMPORTANT\n\nUse the **user's request as the PRIMARY source of truth.**\nExtract band name, @ handle, venue, date, and time **EXACTLY** as provided.\n\n---\n\n## 📋 When the User Asks to Create a Post\n\n1. Use **\"Read Notion Posts\"** to check existing posts for style consistency.\n2. Generate captions with emojis using a **consistent tone** across platforms.\n3. Use the band name and @ handle **provided by the user**.\n4. Create **JSON output** with the structure below for **EACH platform**.\n\n---\n\n## 🗂️ JSON Output Structure\n\n```json\n{\n  \"posts\": [\n    {\n      \"caption\": \"Full IG post text\",\n      \"platform\": \"IG\",\n      \"postDate\": \"YYYY-MM-DD\",\n      \"postTime\": \"11:00 AM\",\n      \"hashtags\": \"#StPeteMusic #SuiteEStudios #StPeteFL #TampaBay\",\n      \"tags\": \"@suite.e.studios @bandInstagramHandle\",\n      \"eventType\": \"Music\",\n      \"mediaType\": \"Video\"\n    },\n    {\n      \"caption\": \"Full FB post text\",\n      \"platform\": \"FB\",\n      \"postDate\": \"YYYY-MM-DD\",\n      \"postTime\": \"11:00 AM\",\n      \"hashtags\": \"#StPeteMusic #SuiteEStudios #StPeteFL #TampaBay\",\n      \"tags\": \"@SuiteEStudios @bandInstagramHandle\",\n      \"eventType\": \"Music\",\n      \"mediaType\": \"Video\"\n    },\n    {\n      \"caption\": \"Full YT description\",\n      \"platform\": \"YT\",\n      \"postDate\": \"YYYY-MM-DD\",\n      \"postTime\": \"11:00 AM\",\n      \"hashtags\": \"#StPeteMusic #SuiteEStudios #StPeteFL #TampaBay\",\n      \"tags\": \"@StPeteMusic @bandInstagramHandle\",\n      \"eventType\": \"Music\",\n      \"mediaType\": \"Video\",\n      \"ytPlaylist\": \"default to https://www.youtube.com/watch?v=-GzyL6WdNWA&list=PL5gTeopOibQREpXSSqHwVaZTWv1EdUuki\",\n      \"ytTags\": \"relevant tags\"\n    }\n  ]\n}\n```\n\n---\n\n## 📱 Caption Formatting by Platform — CRITICAL\n\n### YouTube (Max 100 chars, ideally ≤70 chars)\n\n- **Format:** `🎸 MM.DD @BandName @Suite.E.Studios`\n- Use **only** month and date (`MM.DD` — no year)\n- Use band's Instagram @ handle if provided; otherwise just band name\n- Always include venue tag: `@Suite.E.Studios`\n- Ultra-concise — snippet/title style\n- **NO** new lines or triple breaks\n\n**Examples:**\n- `🎸 02.23 @BadWolf at @Suite.E.Studios` *(37 chars)*\n- `🎸 03.15 Wandering Hearts at @Suite.E.Studios` *(43 chars)*\n\n---\n\n### YouTube Video Description\n\n**Full YouTube description structure:**\n\n```\n@artistInstagramHandle (band/artist description) at Suite E Studios St Pete, FL | MM.DD.YYYY #StPeteMusic #StPeteFL #BandHashtag\n\nThings you should check out:\n-- Suite E Studios || https://linktree.com/suite_e_studios\n-- St Pete Music || http://linktree.com/stpetemusic\n-- St Pete Music Instagram || https://www.instagram.com/stpetemusic/\n-- St Pete Music Facebook || https://www.facebook.com/stpeteflmusic/\n-- The Blueberry Patch || http://www.blueberrypatch.org/\n\nStPete Music is a youtube channel that is dedicated to showing off the best musicians, artists, bands, and performers in the Greater Tampa Bay and St Petersburg, FL area. Every venue filmed gets their own playlist dedicated to their location. Every artist, band, performer, etc captured is encouraged to help correct any misspellings of their artist name, song titles, and other mistakes that might be obvious to the public.\n\nIf you would like a video removed please comment on the video asking for the video to be removed or contact the owner of this channel and ask them to remove the video.\n\n-==- email -==-\nTheBurgMusic@gmail.com\nor\nroboBOREALIS@gmail.com\n```\n\n**Rules for YouTube Description:**\n- **First line:** Artist Instagram handle + \"at Suite E Studios St Pete, FL | MM.DD.YYYY\" + hashtags\n  - Date format: `MM.DD.YYYY` (e.g., `02.13.2026`)\n  - Add band-specific hashtags if known\n- **Always include** the full boilerplate with venue links, channel description, and contact info\n- **Keep it consistent** — this is the standard StPete Music channel format\n\n**Example:**\n```\nWillie Jones Cocktail Hour (@williejones_cocktailhour) at Suite E Studios (@suite.e.studios) St Pete, FL | 02.13.2026 #StPeteMusic #StPeteFL #SuiteEStudios #WillieJonesCocktailHour\n\nThings you should check out:\n-- Suite E Studios || https://linktree.com/suite_e_studios\n-- St Pete Music || http://linktree.com/stpetemusic\n-- St Pete Music Instagram || https://www.instagram.com/stpetemusic/\n-- St Pete Music Facebook || https://www.facebook.com/stpeteflmusic/\n\nMore things you should check out:\n-- The Blueberry Patch || http://www.blueberrypatch.org/\n\n\nStPete Music is a youtube channel that is dedicated to showing off the best musicians, artists, bands, and performers in the Greater Tampa Bay and St Petersburg, FL area. Currently stationed at Suite E Studios in St Petersburg, FL's Warehouse Arts District. Come see us for weekly events like WUSF Jazz Sundays, #FinalFriday Band showcase, or 2nd Saturday Art Walk.\n\n-==- email -==- \nTheBurgMusic@gmail.com \nor \nsuite.e.stpete@gmail.com\n```\n\n---\n\n### Instagram & Facebook (Max 500 chars, target ~300 chars)\n\n- **Structure:** `[Main Info]\\n\\n\\n[Vibe Message]\\n\\n\\n[Hashtags]`\n- **Main Info line:** `🎸 MM.DD @BandName || Suite.E.Studios`\n  - Use `@` if they have IG; otherwise just name\n  - Default venue: Suite.E.Studios\n- **ALWAYS** use THREE new lines (`\\n\\n\\n`) between sections\n- **Vibe Message:** Short, enthusiastic 1–2 sentence statement\n  - Start with an emoji: 🔥 ✨ 🎶 🎤\n  - Tone: enthusiastic, authentic, community-oriented\n- IG and FB should feel like they're from the **same person** — same personality, slightly different platform approach\n- Dates in captions: `MM.DD` format (`02.23`, not `2/23` or `02.23.2026`)\n\n**Examples:**\n```\n🎸 02.23 @BadWolf || Suite.E.Studios\n\n\n🔥 The vibes were perfect last night! Bad Wolf absolutely crushed it!\n\n\n#StPeteMusic #SuiteEStudios #StPeteFL #TampaBay\n```\n```\n🎸 03.15 Wandering Hearts || Suite.E.Studios\n\n\n✨ What an incredible night! Pure magic on that stage!\n\n\n#StPeteMusic #SuiteEStudios #StPeteFL #TampaBay\n```\n\n---\n\n## 📅 Rules for Post Dates & Times — CRITICAL\n\n- **Event date** (when the performance happened) ≠ **Post date** (when to schedule the post)\n- Use `MM.DD` format **only in caption text** (e.g., `02.07`)\n- `postDate` in JSON **must be a future date** — never the event date\n- Determine today's date using internal knowledge\n- Pick a `postDate` **at least 1 day in the future** (ideally 3–7 days out)\n- `postDate` must fall on a **Monday–Friday weekday** (no weekends)\n- Default all `postTime` values to `\"11:00 AM\"`\n- JSON dates use `YYYY-MM-DD` format\n\n**Example:**\n> Event on `02.07.2026` → Caption says `02.07` → `postDate` is `2026-02-18` or `2026-02-19`\n\n---\n\n## 🏷️ Rules for Tags/Mentions — CRITICAL\n\n| Platform | Tags |\n|----------|------|\n| **IG** | `@suite.e.studios @bandInstagramHandle` |\n| **FB** | `@SuiteEStudios @bandInstagramHandle` |\n| **YT** | `@StPeteMusic @bandInstagramHandle` |\n\n- **Every platform** must include the band's Instagram handle\n- Always include `@Suite.E.Studios` (IG) or `@SuiteEStudios` (FB)\n- Only populate `ytPlaylist` for the YT platform — leave empty for IG/FB\n- Status defaults to **Draft**\n- Return valid JSON wrapped in a ` ```json ` code block\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        22896,
        2624
      ],
      "id": "bccc1e4c-45dd-4c62-b6b5-10cb4550cd0b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}",
        "contextWindowLength": 1000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        22944,
        2832
      ],
      "id": "9b4ca106-47e1-4a99-8e6c-2ed99f4edaf6",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "49cebf36f8774bd69c4329d2c0d750c5"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        23120,
        2832
      ],
      "id": "d664b9a3-e20b-4d48-81ce-49ef63ac5fb3",
      "name": "Read Notion Posts",
      "credentials": {
        "notionApi": {
          "id": "ZXEH8wTvzaAHv60e",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        23280,
        2832
      ],
      "id": "b42380d7-a9c0-4391-b033-a42ff9e9bc11",
      "name": "Think"
    },
    {
      "parameters": {
        "jsCode": "// Extract posts array from AI output\nconst output = $input.first().json.output;\nlet posts = [];\n\nif (typeof output === 'string') {\n  try {\n    // Extract JSON from markdown code block (```json...```)\n    const jsonMatch = output.match(/```json\\n([\\s\\S]*?)\\n```/);\n    if (jsonMatch && jsonMatch[1]) {\n      const parsed = JSON.parse(jsonMatch[1]);\n      posts = parsed.posts || [];\n    } else {\n      // Fallback: try direct parsing\n      const parsed = JSON.parse(output);\n      posts = parsed.posts || [];\n    }\n  } catch (e) {\n    console.log('Parse error:', e);\n    return [];\n  }\n} else if (output && output.posts) {\n  posts = output.posts;\n}\n\n// Return each post as a separate item\nreturn posts.map(post => ({ json: post }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        23296,
        2624
      ],
      "id": "99a187e9-711c-46f2-b5d1-94437577cded",
      "name": "Parse AI Output"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "49cebf36f8774bd69c4329d2c0d750c5",
          "mode": "id"
        },
        "title": "={{ $json.platform }} - {{ $json.postDate }}",
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Post Content|rich_text",
              "textContent": "={{ $json.caption }}"
            },
            {
              "key": "Platform|select",
              "selectValue": "={{ $json.platform }}"
            },
            {
              "key": "Status|status",
              "selectValue": "Draft",
              "statusValue": "=Draft"
            },
            {
              "key": "Privacy Status|select",
              "selectValue": "=Public"
            },
            {
              "key": "Event Type|select",
              "selectValue": "={{ $json.eventType || 'Music' }}"
            },
            {
              "key": "Media Type|select",
              "selectValue": "={{ $json.mediaType || 'Video' }}"
            },
            {
              "key": "Post Date|date",
              "date": "={{ $json.postDate }}"
            },
            {
              "key": "Post Time|rich_text",
              "textContent": "={{ $json.postTime }}"
            },
            {
              "key": "Hashtags|rich_text",
              "textContent": "={{ $json.hashtags }}"
            },
            {
              "key": "Tags / Mentions|rich_text",
              "textContent": "={{ $json.tags }}"
            },
            {
              "key": "YT Playlist|rich_text",
              "textContent": "={{ $json.ytPlaylist || '' }}"
            },
            {
              "key": "YT Tags|rich_text",
              "textContent": "={{ $json.ytTags || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        23504,
        2624
      ],
      "id": "8b0df641-913c-4f91-a7d4-b5b24b473239",
      "name": "Add Rows to Database",
      "credentials": {
        "notionApi": {
          "id": "ZXEH8wTvzaAHv60e",
          "name": "Notion account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        22736,
        2832
      ],
      "id": "d5796a0b-a15a-46ea-934f-d45a087143a3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "BBtvIhMO53Na70Sw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        22560,
        2608
      ],
      "id": "e9c8b0b7-3f74-44d8-a02a-0c25753c0ed0",
      "name": "When chat message received",
      "webhookId": "9be38fd8-eb1b-41fa-a042-3891d2a9fdc7"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Add Rows to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Read Notion Posts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "98c9f7a1-322f-4a87-a4fb-6a42598a8b1e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9293fc07055c195e236ac85072d0208fe886bdff22e173da7b17b3c0599dbb93"
  },
  "id": "x9GqK6CV30JPGK2L",
  "tags": [
    {
      "updatedAt": "2026-02-10T20:20:09.840Z",
      "createdAt": "2026-02-10T20:20:09.840Z",
      "id": "E2gcnw4bdYuXZ0TH",
      "name": "Notion Integration"
    },
    {
      "updatedAt": "2026-02-13T05:48:17.570Z",
      "createdAt": "2026-02-13T05:48:17.570Z",
      "id": "KgqtOreN6IHe6DxP",
      "name": "AI Agent"
    },
    {
      "updatedAt": "2026-02-10T20:20:09.826Z",
      "createdAt": "2026-02-10T20:20:09.826Z",
      "id": "lmJLNTLcj9Hi6oau",
      "name": "Social Media"
    },
    {
      "updatedAt": "2026-02-15T18:02:13.981Z",
      "createdAt": "2026-02-15T18:02:13.981Z",
      "id": "qUFk9y4Tgto4Glo4",
      "name": "StPeteMusic"
    }
  ]
}