n8n/workflows/StPeteMusic/obsidian-to-youtube-posting.json
{
  "name": "Obsidian to YouTube Posting",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        3568,
        -208
      ],
      "id": "05d850e4-f8b9-404b-8a12-a80b3011351d",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "interval": [
          {
            "unit": "hours",
            "value": 4
          }
        ]
      },
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        3568,
        -80
      ],
      "id": "bd23a09d-88d5-46db-8f81-ecaa60c5b493",
      "name": "Scheduled Trigger (Every 4 Hours)"
    },
    {
      "parameters": {
        "url": "={{ $env.OBSIDIAN_HOST }}/active/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.olrapi.note+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3776,
        -208
      ],
      "id": "57d18dd1-a6bd-4f9c-98eb-34be39ce05cd",
      "name": "Query Obsidian Vault",
      "credentials": {
        "httpBearerAuth": {
          "id": "4tIhQEVZNqoTVr0Z",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse the stringified data from Obsidian API\nconst parsed = JSON.parse($json.data);\nconst fm = parsed.frontmatter || {};\n\n// Only process posts with status 'ready'\nif (fm.status !== 'ready') {\n  return null;\n}\n\n// Compute local filename and public URL for nginx serving (Instagram path)\nconst bandSlug = (fm['band-name'] || 'video').toLowerCase().replace(/\\s+/g, '-');\nconst dateSlug = (fm['record-date'] || '').replace(/[^0-9-]/g, '').substring(0, 10);\nconst localFilename = `${dateSlug}-${bandSlug}.mp4`;\nconst publicUrl = `https://n8n-stpetemusic.duckdns.org/media/${localFilename}`;\n\n// Extract Google Drive file ID for direct disk download (IG path)\nconst gdFileIdMatch = (fm['media-link'] || '').match(/\\/d\\/([^\\/\\?&]+)/);\nconst googleDriveFileId = gdFileIdMatch ? gdFileIdMatch[1] : '';\n\n// Return clean extracted data\nreturn {\n  filePath: parsed.path || '',\n  bandName: fm['band-name'] || '',\n  bandUsernameIG: fm['band-username-ig'] || '',\n  title: fm.title || '',\n  caption: fm.caption || '',\n  ytDescription: fm['yt-description'] || '',\n  platform: fm.platform || '',\n  postDate: (() => {\n    const raw = fm['publish-date'] || '';\n    if (!raw) return '';\n    // YouTube publishAt requires RFC 3339 with timezone\n    // St. Pete FL is Eastern: EDT (UTC-4) Mar-Nov, EST (UTC-5) Nov-Mar\n    const d = new Date(raw.replace(' ', 'T'));\n    return raw.replace(' ', 'T') + (d.getMonth() >= 2 && d.getMonth() <= 10 ? '-04:00' : '-05:00');\n  })(),\n  recordDate: (() => {\n    const raw = fm['record-date'] || '';\n    if (!raw) return '';\n    // YouTube recordDate requires RFC 3339 with timezone\n    // St. Pete FL is Eastern: EDT (UTC-4) Mar-Nov, EST (UTC-5) Nov-Mar\n    const d = new Date(raw.replace(' ', 'T'));\n    return raw.replace(' ', 'T') + (d.getMonth() >= 2 && d.getMonth() <= 10 ? '-04:00' : '-05:00');\n  })(),\n  youtubePlaylist: fm['yt-playlist'] || '',\n  youtubeTags: fm['yt-tags'] || '',\n  mediaUrl: fm['media-link'] || '',\n  localFilename,\n  publicUrl,\n  googleDriveFileId,\n  mediaType: fm['media-type'] || '',\n  hashtags: fm.hashtags || '',\n  ytTags: fm['yt-tags'] || '',\n  mentions: fm.mentions || '',\n  privacyStatus: fm['privacy-status'] || 'unlisted',\n  status: fm.status,\n  aiGenerated: fm['ai-generated'] || false,\n  originalContent: parsed.content || ''\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3968,
        -208
      ],
      "id": "4f8e718c-efc1-4a9f-9e84-37e826e0069d",
      "name": "Extract Post Data"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Extract Post Data').item.json.mediaUrl }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4496,
        -672
      ],
      "id": "09d65a4f-d80a-4f78-afc3-073ed0c2253e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1lmjEabrYVYL1Zk6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Extract Post Data').item.json.platform }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "YouTube"
            },
            {
              "operation": "contains",
              "value2": "IG",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "FB",
              "output": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        4320,
        -272
      ],
      "id": "e9e30b93-a80f-41e9-9968-17d964dcbb27",
      "name": "Platform Check"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Extract Post Data').item.json.caption }}",
        "regionCode": "US",
        "categoryId": "=10",
        "options": {
          "defaultLanguage": "es-US",
          "description": "={{ $('Extract Post Data').item.json.ytDescription }}",
          "embeddable": false,
          "license": "creativeCommon",
          "notifySubscribers": false,
          "privacyStatus": "private",
          "publicStatsViewable": true,
          "publishAt": "={{ ($('Extract Post Data').item.json.postDate || '').slice(0,22) }}",
          "recordingDate": "={{ ($('Extract Post Data').item.json.recordDate || '').slice(0,22) }}",
          "selfDeclaredMadeForKids": false,
          "tags": "={{ $('Extract Post Data').item.json.youtubeTags }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        4752,
        -672
      ],
      "id": "3ca640c8-0f2f-453a-a69c-9d3925d09ec9",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "w8B8vUgDNfhzHg63",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "={{ $('Extract Post Data').item.json.youtubePlaylist }}",
        "videoId": "={{ $json.uploadId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        5056,
        -672
      ],
      "id": "81652be4-1117-4de7-8c10-2da4a17f5f9d",
      "name": "Add to Playlist",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "w8B8vUgDNfhzHg63",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v24.0/' + $env.IG_USER_ID + '/media' }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "REELS"
            },
            {
              "name": "video_url",
              "value": "={{ $('Extract Post Data').item.json.publicUrl }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Extract Post Data').item.json.caption }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.IG_ACCESS_TOKEN }}"
            },
            {
              "name": "published",
              "value": "false"
            },
            {
              "name": "scheduled_publish_time",
              "value": "={{ Math.floor(new Date($('Extract Post Data').item.json.postDate).getTime() / 1000) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4880,
        -400
      ],
      "id": "0e751dd5-5873-49b4-ba98-f755d1f76b58",
      "name": "Create IG Container"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5056,
        -464
      ],
      "id": "125e0c3a-7743-4151-81ff-8bfc09e9fdbf",
      "name": "Wait for IG Processing",
      "webhookId": "e6f7a8b9-c0d1-2345-e6f7-a8b9c0d12345"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v24.0/' + $env.IG_USER_ID + '/media_publish' }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $('Create IG Container').item.json.id }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.IG_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5952,
        -336
      ],
      "id": "7064c603-2add-4b1b-9f74-6d37b662433e",
      "name": "Publish IG Reel"
    },
    {
      "parameters": {
        "url": "={{ $env.OBSIDIAN_HOST }}/vault/{{ $('Extract Post Data').item.json.filePath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "text/markdown"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6400,
        -368
      ],
      "id": "c9410c1b-c9b1-433c-a13a-ad59c154a938",
      "name": "Get Obsidian File Content",
      "credentials": {
        "httpBearerAuth": {
          "id": "4tIhQEVZNqoTVr0Z",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse the markdown\nconst rawMarkdown = $json.body || $json.data || '';\nconst lines = rawMarkdown.split('\\n');\n\n// Extract the band name (defaults to lowercase for hashtag format)\nconst bandName = $('Extract Post Data').item.json.bandName \n  ? $('Extract Post Data').item.json.bandName.toLowerCase().replace(/\\s+/g, '')\n  : 'unknown';\n\n// Default tags that should always be present\nconst defaultTags = [\n  '#stpetemusic',\n  '#suiteestudios',\n  `#${bandName}`,\n  '#publishedYT'\n];\n\n// Check if \"## Tags\" section already exists\nconst tagsIndex = lines.findIndex(line => line.trim() === '## Tags');\nlet updatedLines = lines;\n\nif (tagsIndex !== -1) {\n  // Tags section exists - extract existing tags and merge\n  const existingTagsLine = lines[tagsIndex + 1] || '';\n  const existingTags = existingTagsLine.split(/\\s+/).filter(t => t.startsWith('#'));\n  \n  // Merge: combine defaults with existing, remove duplicates (case-insensitive)\n  const mergedTags = [...new Set([\n    ...defaultTags,\n    ...existingTags.map(t => t.toLowerCase())\n  ])];\n  \n  // Replace the tags line\n  updatedLines[tagsIndex + 1] = mergedTags.join(' ');\n} else {\n  // No tags section - create it at the end\n  updatedLines.push('', '## Tags', defaultTags.join(' '));\n}\n\n// Join back and replace status: ready with status: published\nlet finalContent = updatedLines.join('\\n');\nfinalContent = finalContent.replace(/^status: ready$/m, 'status: published');\nfinalContent = finalContent.replace(/^obsidian-tags: $/m, 'obsidian-tags: #PublishedYT');\n\nreturn {\n  json: {\n    updatedContent: finalContent,\n    filePath: $('Extract Post Data').item.json.filePath\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6576,
        -368
      ],
      "id": "d7b677cd-6b29-4d38-b636-e3af52301f04",
      "name": "Build Updated Content"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.OBSIDIAN_HOST }}/vault/{{ $json.filePath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/html",
        "body": "={{ $json.updatedContent }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6768,
        -368
      ],
      "id": "454aa8b4-d0ed-42ff-aca1-3c64318babd0",
      "name": "Update Obsidian Status",
      "credentials": {
        "httpBearerAuth": {
          "id": "4tIhQEVZNqoTVr0Z",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://drive.usercontent.google.com/download?id=' + $('Extract Post Data').item.json.googleDriveFileId + '&export=download&confirm=t' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4560,
        -256
      ],
      "id": "5ff3560c-0e91-4af0-bfb9-3d0497160e32",
      "name": "Download Drive File (IG)"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/videos/{{ $('Extract Post Data').item.json.localFilename }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        4720,
        -320
      ],
      "id": "c0ac517e-ee86-41b9-8764-f0f1f0b939cb",
      "name": "Save to Videos Folder"
    },
    {
      "parameters": {
        "url": "={{ 'https://graph.facebook.com/v24.0/' + $('Create IG Container').item.json.id + '?fields=status_code,status&access_token=' + $env.IG_ACCESS_TOKEN }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5248,
        -384
      ],
      "id": "569be097-3744-4255-960f-58bb21fe75bc",
      "name": "Check IG Status"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status_code }}",
              "operation": "equals",
              "value2": "FINISHED"
            },
            {
              "value1": "={{ $json.status_code }}",
              "operation": "equals",
              "value2": "SCHEDULED"
            }
          ]
        },
        "combineOperation": "any"
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5376,
        -384
      ],
      "id": "93ca5b7c-f228-4735-93f4-6892521dcecc",
      "name": "Is Ready?"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5520,
        -208
      ],
      "id": "334c8d2c-fbc5-4fc4-a063-f49d74c2313e",
      "name": "Retry Wait",
      "webhookId": "d4e5f6a7-b8c9-0123-d4e5-f6a7b8c90124"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status_code }}",
              "operation": "equals",
              "value2": "FINISHED"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        5760,
        -224
      ],
      "id": "0e2d6864-dd10-4ad5-9df1-d21ccd35b4bb",
      "name": "Should Publish Now?"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Query Obsidian Vault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduled Trigger (Every 4 Hours)": {
      "main": [
        [
          {
            "node": "Query Obsidian Vault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Obsidian Vault": {
      "main": [
        [
          {
            "node": "Extract Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Post Data": {
      "main": [
        [
          {
            "node": "Platform Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Platform Check": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Drive File (IG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video": {
      "main": [
        [
          {
            "node": "Add to Playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Playlist": {
      "main": [
        [
          {
            "node": "Get Obsidian File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create IG Container": {
      "main": [
        [
          {
            "node": "Wait for IG Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for IG Processing": {
      "main": [
        [
          {
            "node": "Check IG Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish IG Reel": {
      "main": [
        [
          {
            "node": "Get Obsidian File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Obsidian File Content": {
      "main": [
        [
          {
            "node": "Build Updated Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Updated Content": {
      "main": [
        [
          {
            "node": "Update Obsidian Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Drive File (IG)": {
      "main": [
        [
          {
            "node": "Save to Videos Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Videos Folder": {
      "main": [
        [
          {
            "node": "Create IG Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check IG Status": {
      "main": [
        [
          {
            "node": "Is Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Ready?": {
      "main": [
        [
          {
            "node": "Should Publish Now?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Wait": {
      "main": [
        [
          {
            "node": "Check IG Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Publish Now?": {
      "main": [
        [
          {
            "node": "Publish IG Reel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Obsidian File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "235fa942-ec00-41d4-b8c4-f68576fb359a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3410d7e1106827496d30c16a70a3c3349e5fbddf2632c2c4f538b86bf95708b"
  },
  "id": "YZFDQUe741C0HkWT",
  "tags": [
    {
      "updatedAt": "2026-03-09T19:53:42.176Z",
      "createdAt": "2026-03-09T19:53:42.176Z",
      "id": "CSGanN665nXyhf1A",
      "name": "StPeteMusic"
    },
    {
      "updatedAt": "2026-03-09T19:53:42.169Z",
      "createdAt": "2026-03-09T19:53:42.169Z",
      "id": "mpd8cOnmHYmpM7rP",
      "name": "Obsidian Integration"
    },
    {
      "updatedAt": "2026-03-09T19:53:42.189Z",
      "createdAt": "2026-03-09T19:53:42.189Z",
      "id": "ubEwZ3lFI4vprooV",
      "name": "YouTube"
    }
  ]
}