n8n/workflows/StPeteMusic/obsidian-to-youtube-posting.json
{
  "name": "Obsidian to YouTube Posting",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        0
      ],
      "id": "78635bf2-7944-43e5-8ba7-fddfe6e4aeee",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "interval": [
          {
            "unit": "hours",
            "value": 4
          }
        ]
      },
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        -48,
        128
      ],
      "id": "46a52fc2-9507-49f6-b745-82a9ccf6307e",
      "name": "Scheduled Trigger (Every 4 Hours)"
    },
    {
      "parameters": {
        "url": "={{ $env.OBSIDIAN_HOST }}/active/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.olrapi.note+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        0
      ],
      "id": "68c5d165-52c9-459a-a0b3-090c9154bbae",
      "name": "Query Obsidian Vault",
      "credentials": {
        "httpBearerAuth": {
          "id": "4tIhQEVZNqoTVr0Z",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse the stringified data from Obsidian API\nconst parsed = JSON.parse($json.data);\nconst fm = parsed.frontmatter || {};\n\n// Only process posts with status 'ready'\nif (fm.status !== 'ready') {\n  return null;\n}\n\n// Return clean extracted data\nreturn {\n  filePath: parsed.path || '',\n  bandName: fm['band-name'] || '',\n  bandUsernameIG: fm['band-username-ig'] || '',\n  title: fm.title || '',\n  caption: fm.caption || '',\n  ytDescription: fm['yt-description'] || '',\n  platform: fm.platform || '',\n  postDate: (() => {\n    const raw = fm['publish-date'] || '';\n    if (!raw) return '';\n    // YouTube publishAt requires RFC 3339 with timezone\n    // St. Pete FL is Eastern: EDT (UTC-4) Mar-Nov, EST (UTC-5) Nov-Mar\n    const d = new Date(raw.replace(' ', 'T'));\n    return raw.replace(' ', 'T') + (d.getMonth() >= 2 && d.getMonth() <= 10 ? '-04:00' : '-05:00');\n  })(),\n    recordDate: (() => {\n    const raw = fm['record-date'] || '';\n    if (!raw) return '';\n    // YouTube recordDate requires RFC 3339 with timezone\n    // St. Pete FL is Eastern: EDT (UTC-4) Mar-Nov, EST (UTC-5) Nov-Mar\n    const d = new Date(raw.replace(' ', 'T'));\n    return raw.replace(' ', 'T') + (d.getMonth() >= 2 && d.getMonth() <= 10 ? '-04:00' : '-05:00');\n  })(),\n  youtubePlaylist: fm['yt-playlist'] || '',\n  youtubeTags: fm['yt-tags'] || '',\n  mediaUrl: fm['media-link'] || '',\n  mediaType: fm['media-type'] || '',\n  hashtags: fm.hashtags || '',\n  ytTags: fm['yt-tags'] || '',\n  mentions: fm.mentions || '',\n  privacyStatus: fm['privacy-status'] || 'unlisted',\n  status: fm.status,\n  aiGenerated: fm['ai-generated'] || false,\n  originalContent: parsed.content || ''\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        0
      ],
      "id": "78b9ed46-2983-467d-8a1e-ac8e784f160e",
      "name": "Extract Post Data"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.platform }}",
        "rules": {
          "rules": [
            {
              "value2": "YouTube"
            },
            {
              "operation": "notContains",
              "value2": "YT",
              "output": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "id": "0de3f4cc-7664-4552-b2de-21f612d53b7e",
      "name": "Platform Check"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Extract Post Data').item.json.mediaUrl }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        800,
        -208
      ],
      "id": "1ebc2216-a1ca-4f6d-8ba9-826c34ffb5ce",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1lmjEabrYVYL1Zk6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Extract Post Data').item.json.caption }}",
        "regionCode": "US",
        "categoryId": "=10",
        "options": {
          "defaultLanguage": "es-US",
          "description": "={{ $('Extract Post Data').item.json.ytDescription }}",
          "embeddable": false,
          "license": "creativeCommon",
          "notifySubscribers": false,
          "privacyStatus": "private",
          "publicStatsViewable": true,
          "publishAt": "={{$json.postDate.slice(0,22)}}",
          "recordingDate": "={{$json.recordDate.slice(0,22)}}",
          "selfDeclaredMadeForKids": false,
          "tags": "={{ $('Extract Post Data').item.json.youtubeTags }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1040,
        -208
      ],
      "id": "036e8f47-4c4e-47d0-9fa5-da11c9534c51",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "w8B8vUgDNfhzHg63",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "={{ $('Extract Post Data').item.json.youtubePlaylist }}",
        "videoId": "={{ $json.uploadId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1248,
        -208
      ],
      "id": "8fc0e051-bfad-4fee-8b02-32a1c1caad6e",
      "name": "Add to Playlist",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "w8B8vUgDNfhzHg63",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.OBSIDIAN_HOST }}/vault/{{ $('Extract Post Data').item.json.filePath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "text/markdown"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        -208
      ],
      "id": "f7c0be6d-7cc6-414e-a2e1-827d48900afd",
      "name": "Get Obsidian File Content",
      "credentials": {
        "httpBearerAuth": {
          "id": "4tIhQEVZNqoTVr0Z",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse the markdown\nconst rawMarkdown = $json.body || $json.data || '';\nconst lines = rawMarkdown.split('\\n');\n\n// Extract the band name (defaults to lowercase for hashtag format)\nconst bandName = $('Extract Post Data').item.json.bandName \n  ? $('Extract Post Data').item.json.bandName.toLowerCase().replace(/\\s+/g, '')\n  : 'unknown';\n\n// Default tags that should always be present\nconst defaultTags = [\n  '#stpetemusic',\n  '#suiteestudios',\n  `#${bandName}`,\n  '#publishedYT'\n];\n\n// Check if \"## Tags\" section already exists\nconst tagsIndex = lines.findIndex(line => line.trim() === '## Tags');\nlet updatedLines = lines;\n\nif (tagsIndex !== -1) {\n  // Tags section exists - extract existing tags and merge\n  const existingTagsLine = lines[tagsIndex + 1] || '';\n  const existingTags = existingTagsLine.split(/\\s+/).filter(t => t.startsWith('#'));\n  \n  // Merge: combine defaults with existing, remove duplicates (case-insensitive)\n  const mergedTags = [...new Set([\n    ...defaultTags,\n    ...existingTags.map(t => t.toLowerCase())\n  ])];\n  \n  // Replace the tags line\n  updatedLines[tagsIndex + 1] = mergedTags.join(' ');\n} else {\n  // No tags section - create it at the end\n  updatedLines.push('', '## Tags', defaultTags.join(' '));\n}\n\n// Join back and replace status: ready with status: published\nlet finalContent = updatedLines.join('\\n');\nfinalContent = finalContent.replace(/^status: ready$/m, 'status: published');\nfinalContent = finalContent.replace(/^obsidian-tags: $/m, 'obsidian-tags: #publishedYT');\n\nreturn {\n  json: {\n    updatedContent: finalContent,\n    filePath: $('Extract Post Data').item.json.filePath\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        -208
      ],
      "id": "061b3060-b686-4623-9b5d-b867467d76fa",
      "name": "Build Updated Content"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.OBSIDIAN_HOST }}/vault/{{ $json.filePath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/html",
        "body": "={{ $json.updatedContent }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        -208
      ],
      "id": "51eb00d9-a827-4bbb-a5ee-5cde5c99fcae",
      "name": "Update Obsidian Status",
      "credentials": {
        "httpBearerAuth": {
          "id": "4tIhQEVZNqoTVr0Z",
          "name": "Bearer Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Query Obsidian Vault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduled Trigger (Every 4 Hours)": {
      "main": [
        [
          {
            "node": "Query Obsidian Vault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Obsidian Vault": {
      "main": [
        [
          {
            "node": "Extract Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Post Data": {
      "main": [
        [
          {
            "node": "Platform Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Platform Check": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video": {
      "main": [
        [
          {
            "node": "Add to Playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Playlist": {
      "main": [
        [
          {
            "node": "Get Obsidian File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Obsidian File Content": {
      "main": [
        [
          {
            "node": "Build Updated Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Updated Content": {
      "main": [
        [
          {
            "node": "Update Obsidian Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f02a403a-4a70-4ab6-ad02-faca3f49bde9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3410d7e1106827496d30c16a70a3c3349e5fbddf2632c2c4f538b86bf95708b"
  },
  "id": "YZFDQUe741C0HkWT",
  "tags": [
    {
      "updatedAt": "2026-03-09T19:53:42.176Z",
      "createdAt": "2026-03-09T19:53:42.176Z",
      "id": "CSGanN665nXyhf1A",
      "name": "StPeteMusic"
    },
    {
      "updatedAt": "2026-03-09T19:53:42.169Z",
      "createdAt": "2026-03-09T19:53:42.169Z",
      "id": "mpd8cOnmHYmpM7rP",
      "name": "Obsidian Integration"
    },
    {
      "updatedAt": "2026-03-09T19:53:42.189Z",
      "createdAt": "2026-03-09T19:53:42.189Z",
      "id": "ubEwZ3lFI4vprooV",
      "name": "YouTube"
    }
  ]
}