n8n/workflows/StPeteMusic/obsidian-to-youtube-posting.json
{
  "name": "Obsidian to YouTube Posting",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        320,
        -96
      ],
      "id": "9b8603bd-b055-4aab-b6af-5a4fb3c7def4",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "interval": [
          {
            "unit": "hours",
            "value": 4
          }
        ]
      },
      "type": "n8n-nodes-base.interval",
      "typeVersion": 1,
      "position": [
        320,
        32
      ],
      "id": "022b90ea-c5f2-4b6e-a973-14ef51cedbb6",
      "name": "Scheduled Trigger (Every 4 Hours)"
    },
    {
      "parameters": {
        "url": "={{ $env.OBSIDIAN_HOST }}/active/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.olrapi.note+json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        -96
      ],
      "id": "9a4cf380-8b92-458a-ae1d-64bf9b325900",
      "name": "Query Obsidian Vault",
      "credentials": {
        "httpBearerAuth": {
          "id": "4tIhQEVZNqoTVr0Z",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse the stringified data from Obsidian API\nconst parsed = JSON.parse($json.data);\nconst fm = parsed.frontmatter || {};\n\n// Only process posts with status 'ready'\nif (fm.status !== 'ready') {\n  return null;\n}\n\n// Compute local filename and public URL for nginx serving (Instagram path)\nconst bandSlug = (fm['band-name'] || 'video').toLowerCase().replace(/\\s+/g, '-');\nconst dateSlug = (fm['record-date'] || '').replace(/[^0-9-]/g, '').substring(0, 10);\nconst localFilename = `${dateSlug}-${bandSlug}.mp4`;\nconst publicUrl = `https://n8n-stpetemusic.duckdns.org/media/${localFilename}`;\n\n// Extract Google Drive file ID for direct disk download (IG path)\nconst gdFileIdMatch = (fm['media-link'] || '').match(/\\/d\\/([^\\/\\?&]+)/);\nconst googleDriveFileId = gdFileIdMatch ? gdFileIdMatch[1] : '';\n\n// Return clean extracted data\nreturn {\n  filePath: parsed.path || '',\n  bandName: fm['band-name'] || '',\n  bandUsernameIG: fm['band-username-ig'] || '',\n  title: fm.title || '',\n  caption: fm.caption || '',\n  ytDescription: fm['yt-description'] || '',\n  platform: fm.platform || '',\n  postDate: (() => {\n    const raw = fm['publish-date'] || '';\n    if (!raw) return '';\n    // YouTube publishAt requires RFC 3339 with timezone\n    // St. Pete FL is Eastern: EDT (UTC-4) Mar-Nov, EST (UTC-5) Nov-Mar\n    const d = new Date(raw.replace(' ', 'T'));\n    return raw.replace(' ', 'T') + (d.getMonth() >= 2 && d.getMonth() <= 10 ? '-04:00' : '-05:00');\n  })(),\n  recordDate: (() => {\n    const raw = fm['record-date'] || '';\n    if (!raw) return '';\n    // YouTube recordDate requires RFC 3339 with timezone\n    // St. Pete FL is Eastern: EDT (UTC-4) Mar-Nov, EST (UTC-5) Nov-Mar\n    const d = new Date(raw.replace(' ', 'T'));\n    return raw.replace(' ', 'T') + (d.getMonth() >= 2 && d.getMonth() <= 10 ? '-04:00' : '-05:00');\n  })(),\n  youtubePlaylist: fm['yt-playlist'] || '',\n  youtubeTags: fm['yt-tags'] || '',\n  mediaUrl: fm['media-link'] || '',\n  localFilename,\n  publicUrl,\n  googleDriveFileId,\n  mediaType: fm['media-type'] || '',\n  hashtags: fm.hashtags || '',\n  ytTags: fm['yt-tags'] || '',\n  mentions: fm.mentions || '',\n  privacyStatus: fm['privacy-status'] || 'unlisted',\n  status: fm.status,\n  aiGenerated: fm['ai-generated'] || false,\n  originalContent: parsed.content || ''\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -96
      ],
      "id": "b1d7d9e3-b67b-4b4a-a9d1-edccdeca0994",
      "name": "Extract Post Data"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Extract Post Data').item.json.mediaUrl }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        880,
        -96
      ],
      "id": "0f111676-6a56-429c-a104-a70ea00f5fe2",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1lmjEabrYVYL1Zk6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('Extract Post Data').item.json.platform }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "YouTube"
            },
            {
              "operation": "contains",
              "value2": "IG",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "FB",
              "output": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1072,
        -160
      ],
      "id": "f19a31d3-1d86-4fb4-86dc-cd959ad2f5a1",
      "name": "Platform Check"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Extract Post Data').item.json.caption }}",
        "regionCode": "US",
        "categoryId": "=10",
        "options": {
          "defaultLanguage": "es-US",
          "description": "={{ $('Extract Post Data').item.json.ytDescription }}",
          "embeddable": false,
          "license": "creativeCommon",
          "notifySubscribers": false,
          "privacyStatus": "private",
          "publicStatsViewable": true,
          "publishAt": "={{ ($('Extract Post Data').item.json.postDate || '').slice(0,22) }}",
          "recordingDate": "={{ ($('Extract Post Data').item.json.recordDate || '').slice(0,22) }}",
          "selfDeclaredMadeForKids": false,
          "tags": "={{ $('Extract Post Data').item.json.youtubeTags }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1264,
        -304
      ],
      "id": "de4e57bc-4993-45dc-8b8c-2482536c3646",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "w8B8vUgDNfhzHg63",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlistItem",
        "playlistId": "={{ $('Extract Post Data').item.json.youtubePlaylist }}",
        "videoId": "={{ $json.uploadId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1472,
        -304
      ],
      "id": "5dc11ec8-20ae-4259-a426-0263a8104f42",
      "name": "Add to Playlist",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "w8B8vUgDNfhzHg63",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v24.0/' + $env.IG_USER_ID + '/media' }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "REELS"
            },
            {
              "name": "video_url",
              "value": "={{ $('Extract Post Data').item.json.publicUrl }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Extract Post Data').item.json.caption }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.IG_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1472,
        -80
      ],
      "id": "a2b3c4d5-e6f7-8901-a2b3-c4d5e6f78901",
      "name": "Create IG Container"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1680,
        -80
      ],
      "id": "b3c4d5e6-f7a8-9012-b3c4-d5e6f7a89012",
      "name": "Wait for IG Processing",
      "webhookId": "e6f7a8b9-c0d1-2345-e6f7-a8b9c0d12345"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://graph.facebook.com/v24.0/' + $env.IG_USER_ID + '/media_publish' }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $('Create IG Container').item.json.id }}"
            },
            {
              "name": "access_token",
              "value": "={{ $env.IG_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2304,
        -80
      ],
      "id": "c4d5e6f7-a8b9-0123-c4d5-e6f7a8b90123",
      "name": "Publish IG Reel"
    },
    {
      "parameters": {
        "url": "={{ $env.OBSIDIAN_HOST }}/vault/{{ $('Extract Post Data').item.json.filePath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "text/markdown"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2096,
        -200
      ],
      "id": "06a956e1-5863-46b1-9008-6884306660fa",
      "name": "Get Obsidian File Content",
      "credentials": {
        "httpBearerAuth": {
          "id": "4tIhQEVZNqoTVr0Z",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse the markdown\nconst rawMarkdown = $json.body || $json.data || '';\nconst lines = rawMarkdown.split('\\n');\n\n// Extract the band name (defaults to lowercase for hashtag format)\nconst bandName = $('Extract Post Data').item.json.bandName \n  ? $('Extract Post Data').item.json.bandName.toLowerCase().replace(/\\s+/g, '')\n  : 'unknown';\n\n// Default tags that should always be present\nconst defaultTags = [\n  '#stpetemusic',\n  '#suiteestudios',\n  `#${bandName}`,\n  '#publishedYT'\n];\n\n// Check if \"## Tags\" section already exists\nconst tagsIndex = lines.findIndex(line => line.trim() === '## Tags');\nlet updatedLines = lines;\n\nif (tagsIndex !== -1) {\n  // Tags section exists - extract existing tags and merge\n  const existingTagsLine = lines[tagsIndex + 1] || '';\n  const existingTags = existingTagsLine.split(/\\s+/).filter(t => t.startsWith('#'));\n  \n  // Merge: combine defaults with existing, remove duplicates (case-insensitive)\n  const mergedTags = [...new Set([\n    ...defaultTags,\n    ...existingTags.map(t => t.toLowerCase())\n  ])];\n  \n  // Replace the tags line\n  updatedLines[tagsIndex + 1] = mergedTags.join(' ');\n} else {\n  // No tags section - create it at the end\n  updatedLines.push('', '## Tags', defaultTags.join(' '));\n}\n\n// Join back and replace status: ready with status: published\nlet finalContent = updatedLines.join('\\n');\nfinalContent = finalContent.replace(/^status: ready$/m, 'status: published');\nfinalContent = finalContent.replace(/^obsidian-tags: $/m, 'obsidian-tags: #publishedYT');\n\nreturn {\n  json: {\n    updatedContent: finalContent,\n    filePath: $('Extract Post Data').item.json.filePath\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        -200
      ],
      "id": "c89011dd-7894-4e95-ab0b-006e24b5d0aa",
      "name": "Build Updated Content"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.OBSIDIAN_HOST }}/vault/{{ $json.filePath }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/html",
        "body": "={{ $json.updatedContent }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        -200
      ],
      "id": "7df2e8dc-1787-481b-a7de-7ac306dbb75f",
      "name": "Update Obsidian Status",
      "credentials": {
        "httpBearerAuth": {
          "id": "4tIhQEVZNqoTVr0Z",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://drive.usercontent.google.com/download?id=' + $('Extract Post Data').item.json.googleDriveFileId + '&export=download&confirm=t' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        -80
      ],
      "id": "e6f7a8b9-c0d1-2345-e6f7-a8b9c0d12346",
      "name": "Download Drive File (IG)"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/videos/{{ $('Extract Post Data').item.json.localFilename }}",
        "dataPropertyName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1472,
        -80
      ],
      "id": "f1a2b3c4-d5e6-7890-f1a2-b3c4d5e67890",
      "name": "Save to Videos Folder"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://graph.facebook.com/v24.0/' + $('Create IG Container').item.json.id + '?fields=status_code,status&access_token=' + $env.IG_ACCESS_TOKEN }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1888,
        -80
      ],
      "id": "a1b2c3d4-e5f6-7890-a1b2-c3d4e5f67891",
      "name": "Check IG Status"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status_code }}",
              "operation": "equals",
              "value2": "FINISHED"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2096,
        -80
      ],
      "id": "b2c3d4e5-f6a7-8901-b2c3-d4e5f6a78902",
      "name": "Is Ready?"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2096,
        80
      ],
      "id": "c3d4e5f6-a7b8-9012-c3d4-e5f6a7b89013",
      "name": "Retry Wait",
      "webhookId": "d4e5f6a7-b8c9-0123-d4e5-f6a7b8c90124"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Query Obsidian Vault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduled Trigger (Every 4 Hours)": {
      "main": [
        [
          {
            "node": "Query Obsidian Vault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Obsidian Vault": {
      "main": [
        [
          {
            "node": "Extract Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Post Data": {
      "main": [
        [
          {
            "node": "Platform Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Platform Check": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Drive File (IG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video": {
      "main": [
        [
          {
            "node": "Add to Playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Playlist": {
      "main": [
        [
          {
            "node": "Get Obsidian File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create IG Container": {
      "main": [
        [
          {
            "node": "Wait for IG Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for IG Processing": {
      "main": [
        [
          {
            "node": "Check IG Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish IG Reel": {
      "main": [
        [
          {
            "node": "Get Obsidian File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Obsidian File Content": {
      "main": [
        [
          {
            "node": "Build Updated Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Updated Content": {
      "main": [
        [
          {
            "node": "Update Obsidian Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Drive File (IG)": {
      "main": [
        [
          {
            "node": "Save to Videos Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Videos Folder": {
      "main": [
        [
          {
            "node": "Create IG Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check IG Status": {
      "main": [
        [
          {
            "node": "Is Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Ready?": {
      "main": [
        [
          {
            "node": "Publish IG Reel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Wait": {
      "main": [
        [
          {
            "node": "Check IG Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3a1b2c3d-4e5f-6789-abcd-ef0123456789",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e3410d7e1106827496d30c16a70a3c3349e5fbddf2632c2c4f538b86bf95708b"
  },
  "id": "YZFDQUe741C0HkWT",
  "tags": [
    {
      "updatedAt": "2026-03-09T19:53:42.176Z",
      "createdAt": "2026-03-09T19:53:42.176Z",
      "id": "CSGanN665nXyhf1A",
      "name": "StPeteMusic"
    },
    {
      "updatedAt": "2026-03-09T19:53:42.169Z",
      "createdAt": "2026-03-09T19:53:42.169Z",
      "id": "mpd8cOnmHYmpM7rP",
      "name": "Obsidian Integration"
    },
    {
      "updatedAt": "2026-03-09T19:53:42.189Z",
      "createdAt": "2026-03-09T19:53:42.189Z",
      "id": "ubEwZ3lFI4vprooV",
      "name": "YouTube"
    }
  ]
}