n8n/workflows/StPeteMusic/venue-events-sync.json
{
  "name": "venue-events-sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * 2"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Monday Midnight ET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, -400]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "venue-events-sync",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Manual Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, -240],
      "webhookId": "venue-events-sync"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT v.slug, v.name, v.facebook_page_id AS \"facebookPageId\", v.instagram_page_id AS \"instagramPageId\", v.google_calendar_id AS \"googleCalendarId\", (source->>'type') AS \"sourceType\", (source->>'url') AS \"sourceUrl\" FROM venues v, jsonb_array_elements(v.events_sources) AS source WHERE v.events_sources != '[]'::jsonb AND v.is_active = true ORDER BY v.name, source->>'type' ASC",
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Load Venues With Sources",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [540, -320],
      "credentials": {
        "postgres": {
          "id": "pcxLOCySr6sIFHln",
          "name": "SPM Postgres DB account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Loop Over Sources",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [740, -320]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.sourceType }}",
        "rules": {
          "rules": [
            {
              "operation": "equal",
              "value2": "facebook"
            },
            {
              "operation": "equal",
              "value2": "website",
              "output": 1
            },
            {
              "operation": "equal",
              "value2": "instagram",
              "output": 2
            }
          ]
        }
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Route By Source Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [940, -320]
    },
    {
      "parameters": {
        "jsCode": "// Phase 2 placeholder — Instagram scraping requires Graph API access from the venue\n// or Claude AI-assisted caption parsing. Skipped for now.\nconst slug = $json.slug || 'unknown';\nconsole.log('[venue-events-sync] SKIP ' + slug + ' instagram source — Phase 2 not yet implemented');\nreturn [];"
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Instagram Skip (Phase 2)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, -160]
    },
    {
      "parameters": {
        "jsCode": "// Website scraping not yet wired — add HTTP Request + HTML Extract nodes here\n// when venue website URLs are confirmed (Ruby's Elixir, Blueberry Patch).\nconst slug = $json.slug || 'unknown';\nconsole.log('[venue-events-sync] SKIP ' + slug + ' website source — scraper not yet wired');\nreturn [];"
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Website Skip (Not Yet Wired)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 0]
    },
    {
      "parameters": {
        "jsCode": "// Build the Graph API URL and pass venue context through.\n// HTTP calls belong in HTTP Request nodes — this node only prepares data.\nconst item = $input.first().json;\nconst appId     = $env.FB_APP_ID;\nconst appSecret = $env.FB_APP_SECRET;\nconst pageId    = item.facebookPageId;\n\nif (!pageId || !appId || !appSecret) {\n  console.log('[venue-events-sync] ' + item.slug + ': missing FB_APP_ID, FB_APP_SECRET, or facebookPageId — skipping');\n  return [];\n}\n\nconst nowUnix = Math.floor(Date.now() / 1000);\nconst maxUnix = nowUnix + 60 * 24 * 60 * 60;\nconst token   = appId + '|' + appSecret;\nconst fields  = 'id,name,description,start_time,end_time,cover,ticket_uri,place';\n\nconst graphApiUrl = 'https://graph.facebook.com/v21.0/' + pageId + '/events'\n  + '?access_token=' + encodeURIComponent(token)\n  + '&fields=' + fields\n  + '&since=' + nowUnix\n  + '&until=' + maxUnix\n  + '&limit=50';\n\nreturn [{ json: { ...item, _graphApiUrl: graphApiUrl } }];"
      },
      "id": "a1b2c3d4-0010-4000-8000-000000000010",
      "name": "FB: Build Graph API URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, -480],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json._graphApiUrl }}",
        "options": {}
      },
      "id": "a1b2c3d4-0011-4000-8000-000000000011",
      "name": "FB: Graph API Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, -480],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Normalise Graph API response into the shape expected by Loop Over Events.\n// Source context (slug, calendarId) retrieved from the URL-builder node because\n// the HTTP Request node replaced $json with the API response body.\nconst sourceItem = $('FB: Build Graph API URL').first().json;\nconst response   = $input.first().json;\n\nconst slug       = sourceItem.slug;\nconst calendarId = sourceItem.googleCalendarId;\n\nconst events = response.data;\nif (!events || !Array.isArray(events) || events.length === 0) {\n  const reason = (response.error && response.error.message) ? response.error.message : 'empty or failed response';\n  console.log('[venue-events-sync] ' + slug + ': Graph API returned no events — ' + reason);\n  return [];\n}\n\nconst now = Date.now();\nconst max = now + 60 * 24 * 60 * 60 * 1000;\nconst normalised = [];\n\nfor (const ev of events) {\n  try {\n    const startMs = ev.start_time ? new Date(ev.start_time).getTime() : null;\n    if (!startMs || startMs < now || startMs > max) continue;\n    const id = String(ev.id);\n    normalised.push({ json: {\n      _slug:       slug,\n      _calendarId: calendarId,\n      fbEventId:   id,\n      dedup_id:    'fb_' + id,\n      title:       ev.name        || '',\n      description: ev.description || null,\n      startTime:   ev.start_time,\n      endTime:     ev.end_time    || null,\n      imageUrl:    (ev.cover && ev.cover.source) ? ev.cover.source : null,\n      ticketUrl:   ev.ticket_uri  || null,\n      eventBy:     (ev.place && ev.place.name) ? ev.place.name : null,\n      fbEventUrl:  'https://www.facebook.com/events/' + id,\n      source:      'graph_api'\n    }});\n  } catch (e) {\n    console.log('[venue-events-sync] ' + slug + ': error normalising event ' + ev.id + ' — ' + e.message);\n  }\n}\n\nconsole.log('[venue-events-sync] ' + slug + ': normalised ' + normalised.length + ' events from graph_api');\nreturn normalised;"
      },
      "id": "a1b2c3d4-0012-4000-8000-000000000012",
      "name": "FB: Normalise Graph API Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1660, -480],
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1b2c3d4-0013-4000-8000-000000000013",
      "name": "Loop Over Events",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1900, -480]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $json._calendarId }}",
          "mode": "id"
        },
        "returnAll": false,
        "limit": 10,
        "options": {
          "timeMin": "={{ $now.minus(1, 'days').toISO() }}",
          "timeMax": "={{ $now.plus(62, 'days').toISO() }}",
          "singleEvents": true,
          "orderBy": "startTime",
          "query": "={{ $json.title }}"
        }
      },
      "id": "a1b2c3d4-0014-4000-8000-000000000014",
      "name": "Search GCal For Duplicate",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "continueOnFail": true,
      "alwaysOutputData": true,
      "position": [2100, -480],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "bKr3uyzb1sZZD8hj",
          "name": "SPM-calendar-website"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if the event already exists in GCal by matching dedup_id in description\n// or by close title + date match (±12h).\nconst eventItem = $('Loop Over Events').first().json;\nconst gcalResults = $input.all();\n\nconst dedupId    = eventItem.dedup_id || '';\nconst eventTitle = (eventItem.title || '').toLowerCase().trim();\nconst eventStart = eventItem.startTime ? new Date(eventItem.startTime).getTime() : null;\n\nlet found = null;\nfor (const r of gcalResults) {\n  const desc  = (r.json.description || '').toLowerCase();\n  const title = (r.json.summary     || '').toLowerCase().trim();\n  const start = (r.json.start && r.json.start.dateTime) ? new Date(r.json.start.dateTime).getTime() : null;\n\n  if (dedupId && desc.includes('[dedup_id: ' + dedupId + ']')) { found = r.json; break; }\n  if (eventTitle && title === eventTitle && eventStart && start) {\n    if (Math.abs(eventStart - start) / (1000 * 60 * 60) <= 12) { found = r.json; break; }\n  }\n}\n\nreturn [{\n  json: {\n    ...eventItem,\n    _gcalExists:  found ? true : false,\n    _gcalEventId: found ? found.id : null\n  }\n}];"
      },
      "id": "a1b2c3d4-0015-4000-8000-000000000015",
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2300, -480],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-not-exists",
              "leftValue": "={{ String($json._gcalExists) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0016-4000-8000-000000000016",
      "name": "Not In GCal Yet?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2500, -480]
    },
    {
      "parameters": {
        "jsCode": "// Build the GCal event description with structured metadata.\n// The [dedup_id: fb_XXX] anchor is used by the duplicate-check node on future runs.\nconst ev = $input.first().json;\n\nconst parts = [];\nif (ev.eventBy)    parts.push('Presented by: ' + ev.eventBy);\nif (ev.ticketUrl)  parts.push('Tickets: ' + ev.ticketUrl);\nif (ev.description) { parts.push('---'); parts.push(ev.description); }\nparts.push('');\nif (ev.fbEventUrl) parts.push('Source: ' + ev.fbEventUrl);\nparts.push('[dedup_id: ' + ev.dedup_id + ']');\n\nconst description = parts.join('\\n').trim();\n\nfunction toRFC3339(str) {\n  if (!str) return null;\n  const d = new Date(str);\n  return isNaN(d.getTime()) ? null : d.toISOString();\n}\n\nreturn [{ json: {\n  ...ev,\n  _gcalDescription: description,\n  _startRFC: toRFC3339(ev.startTime),\n  _endRFC:   ev.endTime ? toRFC3339(ev.endTime) : null\n} }];"
      },
      "id": "a1b2c3d4-0017-4000-8000-000000000017",
      "name": "Build GCal Description",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2740, -560],
      "continueOnFail": true
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ $json._calendarId }}",
          "mode": "id"
        },
        "start": "={{ $json._startRFC }}",
        "end": "={{ $json._endRFC ?? $json._startRFC }}",
        "additionalFields": {
          "summary": "={{ $json.title }}",
          "description": "={{ $json._gcalDescription }}"
        }
      },
      "id": "a1b2c3d4-0018-4000-8000-000000000018",
      "name": "Create GCal Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "continueOnFail": true,
      "position": [2940, -560],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "bKr3uyzb1sZZD8hj",
          "name": "SPM-calendar-website"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge GCal event id from the create response back onto the event item.\nconst created  = $input.first().json;\nconst loopItem = $('Loop Over Events').first().json;\nconst gcalId   = created.id || loopItem._gcalEventId || null;\n\nif (!gcalId) {\n  console.log('[venue-events-sync] ' + loopItem._slug + ': could not get GCal event id — skipping DB upsert');\n  return [];\n}\nreturn [{ json: { ...loopItem, _gcalEventId: gcalId } }];"
      },
      "id": "a1b2c3d4-0019-4000-8000-000000000019",
      "name": "Merge GCal ID (new)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3140, -560],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Already exists path — pass the existing GCal event id through.\nconst ev = $input.first().json;\nif (!ev._gcalEventId) {\n  console.log('[venue-events-sync] ' + ev._slug + ': already in GCal but no id — skipping DB upsert');\n  return [];\n}\nreturn [{ json: ev }];"
      },
      "id": "a1b2c3d4-0020-4000-8000-000000000020",
      "name": "Merge GCal ID (existing)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2740, -400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Build the DB upsert SQL.\n// Does NOT set tag — owned by spm-multi-gcal-to-db-sync tag detection.\nfunction esc(v) {\n  if (v === null || v === undefined) return 'NULL';\n  return \"'\" + String(v).replace(/'/g, \"''\") + \"'\";\n}\n\nconst ev = $input.first().json;\nif (!ev._gcalEventId) return [];\n\nconst extraData = JSON.stringify({\n  source:       ev.source       || 'facebook',\n  fb_event_url: ev.fbEventUrl   || null,\n  event_by:     ev.eventBy      || null,\n  dedup_id:     ev.dedup_id     || null\n});\n\nconst sql = 'INSERT INTO events (\\n'\n  + '  google_event_id, title, description, start_time, end_time,\\n'\n  + '  venue, ticket_url, image_url, extra_data, is_active, synced_at\\n'\n  + ') VALUES (\\n'\n  + '  ' + esc(ev._gcalEventId) + ',\\n'\n  + '  ' + esc(ev.title) + ',\\n'\n  + '  ' + esc(ev.description) + ',\\n'\n  + '  ' + (ev.startTime ? esc(ev.startTime) + '::TIMESTAMPTZ' : 'NULL') + ',\\n'\n  + '  ' + (ev.endTime   ? esc(ev.endTime)   + '::TIMESTAMPTZ' : 'NULL') + ',\\n'\n  + '  ' + esc(ev._slug) + ',\\n'\n  + '  ' + esc(ev.ticketUrl) + ',\\n'\n  + '  ' + esc(ev.imageUrl) + ',\\n'\n  + '  ' + esc(extraData) + '::jsonb,\\n'\n  + '  true,\\n'\n  + '  NOW()\\n'\n  + ')\\n'\n  + 'ON CONFLICT (google_event_id) DO UPDATE SET\\n'\n  + '  title       = EXCLUDED.title,\\n'\n  + '  description = EXCLUDED.description,\\n'\n  + '  start_time  = EXCLUDED.start_time,\\n'\n  + '  end_time    = EXCLUDED.end_time,\\n'\n  + '  venue       = EXCLUDED.venue,\\n'\n  + '  ticket_url  = EXCLUDED.ticket_url,\\n'\n  + '  image_url   = EXCLUDED.image_url,\\n'\n  + '  extra_data  = EXCLUDED.extra_data,\\n'\n  + '  is_active   = true,\\n'\n  + '  synced_at   = NOW()\\n'\n  + 'RETURNING id, google_event_id, title';\n\nreturn [{ json: { sql, title: ev.title, slug: ev._slug } }];"
      },
      "id": "a1b2c3d4-0021-4000-8000-000000000021",
      "name": "Build DB Upsert SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3340, -480],
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "a1b2c3d4-0022-4000-8000-000000000022",
      "name": "Upsert Event To DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "continueOnFail": true,
      "position": [3540, -480],
      "credentials": {
        "postgres": {
          "id": "pcxLOCySr6sIFHln",
          "name": "SPM Postgres DB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 300ms throttle between events to stay under GCal API quota.\nawait new Promise(function(r) { setTimeout(r, 300); });\nreturn $input.all();"
      },
      "id": "a1b2c3d4-0023-4000-8000-000000000023",
      "name": "Event Rate Limit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3740, -480]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE events SET image_url = NULL WHERE start_time < NOW() - INTERVAL '1 hour' AND image_url IS NOT NULL RETURNING id, title, venue",
        "options": {}
      },
      "id": "a1b2c3d4-0024-4000-8000-000000000024",
      "name": "Cleanup Past Event Images",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "continueOnFail": true,
      "position": [3940, -320],
      "credentials": {
        "postgres": {
          "id": "pcxLOCySr6sIFHln",
          "name": "SPM Postgres DB account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cleaned = $input.all();\nconsole.log('[venue-events-sync] RUN COMPLETE — images cleaned: ' + cleaned.length + ' — ' + new Date().toISOString());\nreturn [{ json: { ok: true, images_cleaned: cleaned.length, finished_at: new Date().toISOString() } }];"
      },
      "id": "a1b2c3d4-0025-4000-8000-000000000025",
      "name": "Summary Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4140, -320]
    },
    {
      "parameters": {
        "content": "## venue-events-sync\n\nRuns every **Monday midnight ET** (`0 5 * * 2`) or on demand via:\n`GET https://n8n.stpetemusic.live/webhook/venue-events-sync`\n\n**Flow:**\n1. Load venues with `events_sources` from DB (SQL expands JSONB array)\n2. Route by source type (facebook / website / instagram)\n3. Facebook: Code builds URL → HTTP Request → Normalise\n4. Check GCal for duplicates (dedup_id or title+date ±12h)\n5. Create new GCal events → immediately upsert to DB\n6. Clean up image_url on past events\n\n**Adding a venue (DB only, no workflow change):**\n```sql\nUPDATE venues\nSET facebook_page_id = '...',\n    events_sources = '[{\"type\":\"facebook\",\"url\":\"...\"}]'\nWHERE slug = 'new-venue';\n```",
        "height": 380,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [240, -720],
      "typeVersion": 1,
      "id": "a1b2c3d4-0026-4000-8000-000000000026",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Monday Midnight ET": {
      "main": [[{ "node": "Load Venues With Sources", "type": "main", "index": 0 }]]
    },
    "Manual Webhook Trigger": {
      "main": [[{ "node": "Load Venues With Sources", "type": "main", "index": 0 }]]
    },
    "Load Venues With Sources": {
      "main": [[{ "node": "Loop Over Sources", "type": "main", "index": 0 }]]
    },
    "Loop Over Sources": {
      "main": [
        [{ "node": "Cleanup Past Event Images", "type": "main", "index": 0 }],
        [{ "node": "Route By Source Type", "type": "main", "index": 0 }]
      ]
    },
    "Route By Source Type": {
      "main": [
        [{ "node": "FB: Build Graph API URL", "type": "main", "index": 0 }],
        [{ "node": "Website Skip (Not Yet Wired)", "type": "main", "index": 0 }],
        [{ "node": "Instagram Skip (Phase 2)", "type": "main", "index": 0 }]
      ]
    },
    "FB: Build Graph API URL": {
      "main": [[{ "node": "FB: Graph API Request", "type": "main", "index": 0 }]]
    },
    "FB: Graph API Request": {
      "main": [[{ "node": "FB: Normalise Graph API Events", "type": "main", "index": 0 }]]
    },
    "FB: Normalise Graph API Events": {
      "main": [[{ "node": "Loop Over Events", "type": "main", "index": 0 }]]
    },
    "Loop Over Events": {
      "main": [
        [{ "node": "Loop Over Sources", "type": "main", "index": 0 }],
        [{ "node": "Search GCal For Duplicate", "type": "main", "index": 0 }]
      ]
    },
    "Search GCal For Duplicate": {
      "main": [[{ "node": "Check Duplicate", "type": "main", "index": 0 }]]
    },
    "Check Duplicate": {
      "main": [[{ "node": "Not In GCal Yet?", "type": "main", "index": 0 }]]
    },
    "Not In GCal Yet?": {
      "main": [
        [{ "node": "Build GCal Description", "type": "main", "index": 0 }],
        [{ "node": "Merge GCal ID (existing)", "type": "main", "index": 0 }]
      ]
    },
    "Build GCal Description": {
      "main": [[{ "node": "Create GCal Event", "type": "main", "index": 0 }]]
    },
    "Create GCal Event": {
      "main": [[{ "node": "Merge GCal ID (new)", "type": "main", "index": 0 }]]
    },
    "Merge GCal ID (new)": {
      "main": [[{ "node": "Build DB Upsert SQL", "type": "main", "index": 0 }]]
    },
    "Merge GCal ID (existing)": {
      "main": [[{ "node": "Build DB Upsert SQL", "type": "main", "index": 0 }]]
    },
    "Build DB Upsert SQL": {
      "main": [[{ "node": "Upsert Event To DB", "type": "main", "index": 0 }]]
    },
    "Upsert Event To DB": {
      "main": [[{ "node": "Event Rate Limit", "type": "main", "index": 0 }]]
    },
    "Event Rate Limit": {
      "main": [[{ "node": "Loop Over Events", "type": "main", "index": 0 }]]
    },
    "Cleanup Past Event Images": {
      "main": [[{ "node": "Summary Log", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "meta": {
    "instanceId": ""
  }
}
