n8n/workflows/StPeteMusic/youtube-shorts-tracker-creator.json
{
  "name": "YouTube Shorts Tracker Creator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        224,
        -128
      ],
      "id": "chat-trigger",
      "name": "When chat message received"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}",
        "contextWindowLength": 1000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        608,
        96
      ],
      "id": "conversation-memory",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a JSON extraction tool. Your ONLY job is to extract YouTube Shorts metadata and return ONLY valid JSON. Do NOT write anything else.\n\nWhen user provides info about a YouTube Short, extract it into this EXACT JSON structure:\n\n```json\n{\n  \"bandName\": \"Band Name\",\n  \"bandInstagram\": \"@band_instagram\",\n  \"suiteEStudios\": \"Suite E Studios\",\n  \"suiteEStudiosInstagram\": \"@suite.e.studios\",\n  \"caption\": \"Full YouTube description text\",\n  \"platform\": \"YouTube\",\n  \"postDate\": \"YYYY-MM-DD\",\n  \"postTime\": \"11:00 AM\",\n  \"hashtags\": \"#StPeteMusic #SuiteEStudios #LiveMusic\",\n  \"mentions\": [\"@StPeteMusic\", \"@suite.e.studios\", \"@band_instagram\"],\n  \"eventType\": \"Music\",\n  \"mediaType\": \"Video\",\n  \"ytPlaylist\": \"https://www.youtube.com/playlist?list=...\",\n  \"ytTags\": \"stpetemusic,suite e studios,live music,band name\",\n  \"mediaLink\": \"\",\n  \"bandNameString\": \"Band Name\",\n  \"bandUsernameIG\": \"@band_instagram\",\n  \"status\": \"draft\"\n}\n```\n\n\u26a0\ufe0f CRITICAL INSTRUCTIONS:\n\n1. ONLY OUTPUT: A single ```json code block with valid JSON. Nothing else.\n2. NO conversational text before or after the JSON block.\n3. NO explanations, summaries, or confirmations.\n4. Extract ALL required fields from user input.\n\nFIELD RULES:\n\nDate Conversion:\n- User gives: MM.DD.YYYY (e.g., 02.20.2026)\n- You output: YYYY-MM-DD (e.g., 2026-02-20)\n\nBand Info:\n- bandName: Extract band name exactly as provided\n- bandInstagram: Extract @handle exactly as provided\n- bandNameString: Same as bandName\n- bandUsernameIG: Same as bandInstagram\n\nMentions (must be array):\n- Always include: \"@StPeteMusic\", \"@suite.e.studios\"\n- Always include: band's @instagram handle\n- Format: [\"@mention1\", \"@mention2\", \"@mention3\"]\n\nHashtags (single string):\n- Format: \"#Hashtag1 #Hashtag2 #Hashtag3\"\n\nDefaults (use if not provided):\n- suiteEStudios: \"Suite E Studios\"\n- suiteEStudiosInstagram: \"@suite.e.studios\"\n- platform: \"YouTube\"\n- eventType: \"Music\"\n- mediaType: \"Video\"\n- postTime: \"11:00 AM\"\n- status: \"draft\"\n- mediaLink: \"\" (always empty)\n- ytPlaylist: \"\" (if not provided)\n\nEXAMPLE INPUT:\n\"Mountain Holler @mountain_holler at Final Friday on 02.20.2026. Caption: Amazing live performance!\"\n\nEXAMPLE OUTPUT (ONLY THIS, nothing else):\n```json\n{\n  \"bandName\": \"Mountain Holler\",\n  \"bandInstagram\": \"@mountain_holler\",\n  \"suiteEStudios\": \"Suite E Studios\",\n  \"suiteEStudiosInstagram\": \"@suite.e.studios\",\n  \"caption\": \"Amazing live performance!\",\n  \"platform\": \"YouTube\",\n  \"postDate\": \"2026-02-20\",\n  \"postTime\": \"11:00 AM\",\n  \"hashtags\": \"#FinalFriday #StPeteMusic\",\n  \"mentions\": [\"@StPeteMusic\", \"@suite.e.studios\", \"@mountain_holler\"],\n  \"eventType\": \"Music\",\n  \"mediaType\": \"Video\",\n  \"ytPlaylist\": \"\",\n  \"ytTags\": \"stpetemusic,suite e studios,final friday,mountain holler\",\n  \"mediaLink\": \"\",\n  \"bandNameString\": \"Mountain Holler\",\n  \"bandUsernameIG\": \"@mountain_holler\",\n  \"status\": \"draft\"\n}\n```\n\nNOTHING ELSE. NO TEXT BEFORE OR AFTER.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        560,
        -112
      ],
      "id": "ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Extract JSON from AI output - strict parsing\nconst output = $input.first().json.output;\nlet shorts = null;\nlet parseError = null;\n\nif (typeof output === 'string') {\n  try {\n    // Try to extract JSON from markdown code block (```json...```)\n    const jsonMatch = output.match(/```json\\n([\\s\\S]*?)\\n```/);\n    if (jsonMatch && jsonMatch[1]) {\n      shorts = JSON.parse(jsonMatch[1]);\n    } else {\n      // Fallback: try direct parsing\n      shorts = JSON.parse(output);\n    }\n  } catch (e) {\n    parseError = e.message;\n    console.log('Parse error:', parseError);\n    console.log('Output received:', output);\n  }\n} else if (output && typeof output === 'object') {\n  shorts = output;\n}\n\nif (!shorts) {\n  throw new Error(`Failed to parse AI output. Error: ${parseError}. Output: ${typeof output === 'string' ? output.substring(0, 200) : 'not a string'}`);\n}\n\n// Verify required fields\nconst required = ['bandName', 'bandInstagram', 'caption', 'postDate', 'hashtags', 'mentions'];\nconst missing = required.filter(f => !shorts[f]);\nif (missing.length > 0) {\n  throw new Error(`Missing required fields: ${missing.join(', ')}. Output: ${JSON.stringify(shorts)}`);\n}\n\n// Ensure all default fields exist\nshorts.status = shorts.status || 'draft';\nshorts.mediaLink = shorts.mediaLink || '';\nshorts.platform = shorts.platform || 'YouTube';\nshorts.suiteEStudios = shorts.suiteEStudios || 'Suite E Studios';\nshorts.suiteEStudiosInstagram = shorts.suiteEStudiosInstagram || '@suite.e.studios';\nshorts.eventType = shorts.eventType || 'Music';\nshorts.mediaType = shorts.mediaType || 'Video';\nshorts.postTime = shorts.postTime || '11:00 AM';\n\nreturn { json: shorts };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -112
      ],
      "id": "parse-ai-output",
      "name": "Parse AI Output"
    },
    {
      "parameters": {
        "jsCode": "// Convert JSON to markdown with YAML frontmatter + inline fields for Dataview\nconst j = $input.all()[0].json;\n\n// Format mentions for frontmatter (array to string)\nconst mentionsStr = Array.isArray(j.mentions) ? j.mentions.join(', ') : j.mentions || '';\n\n// Get current date\nconst today = new Date();\nconst createdDate = today.toISOString().split('T')[0];\nconst displayDate = today.toLocaleDateString();\n\n// Build YAML frontmatter - Dataview optimized\nconst yaml = `---\ntitle: \"YouTube Short - ${j.bandNameString}\"\ntype: youtube-short\nstatus: ${j.status}\nbandName: \"${j.bandName}\"\nbandInstagram: \"${j.bandInstagram}\"\nsuiteEStudios: \"${j.suiteEStudios}\"\nsuiteEStudiosInstagram: \"${j.suiteEStudiosInstagram}\"\ncaption: \"${j.caption.replace(/\"/g, '\\\\\"')}\"\nplatform: \"${j.platform}\"\npostDate: \"${j.postDate}\"\npostTime: \"${j.postTime}\"\nhashtags: \"${j.hashtags}\"\nmentions: \"${mentionsStr}\"\neventType: \"${j.eventType}\"\nmediaType: \"${j.mediaType}\"\nytPlaylist: \"${j.ytPlaylist}\"\nytTags: \"${j.ytTags}\"\nmediaLink: \"${j.mediaLink}\"\nbandNameString: \"${j.bandNameString}\"\nbandUsernameIG: \"${j.bandUsernameIG}\"\ncreated-date: ${createdDate}\n---\n\n# YouTube Short: ${j.bandNameString}\n\n**Created:** ${displayDate}\n**Date Posted:** ${j.postDate}\n**Status:** ${j.status}\n\n---\n\n## \ud83d\udccc Video Metadata (Dataview Queryable)\n\nbandName:: ${j.bandName}\nbandInstagram:: ${j.bandInstagram}\nsuiteEStudios:: ${j.suiteEStudios}\nsuiteEStudiosInstagram:: ${j.suiteEStudiosInstagram}\nplatform:: YouTube\nstatus:: ${j.status}\npostDate:: ${j.postDate}\npostTime:: ${j.postTime}\neventType:: ${j.eventType}\nmediaType:: ${j.mediaType}\n\n---\n\n## \ud83d\udcdd Caption\n\n${j.caption}\n\n---\n\n## \ud83d\udd17 Links & Media\n\nmediaLink:: ${j.mediaLink ? '[View in Google Drive](' + j.mediaLink + ')' : 'Not yet added'}\nytPlaylist:: ${j.ytPlaylist || 'Not set'}\nytTags:: ${j.ytTags || 'Not set'}\n\n---\n\n## \ud83d\udc65 Mentions\n\n${j.mentions.map(m => '- ' + m).join('\\n')}\n\n---\n\n## \ud83c\udff7\ufe0f Hashtags\n\n${j.hashtags}\n\n---\n\n## \u2705 Status Guide\n\n- **draft** \u2014 New, still editing caption or waiting for media link\n- **ready** \u2014 Approved & Google Drive link added, ready for YouTube upload\n- **processing** \u2014 n8n is uploading to YouTube Shorts\n- **published** \u2014 Live on YouTube \u2705\n- **failed** \u2014 Upload failed, check error details\n\n**Current Status:** ${j.status}\n\n---\n\n## \ud83d\udccb Workflow Checklist\n\n- [ ] Caption is finalized and correct\n- [ ] Video uploaded to Google Drive (public/shareable link)\n- [ ] mediaLink field populated with Google Drive URL\n- [ ] Hashtags are relevant and complete\n- [ ] Mentions are correct\n- [ ] Status changed to \"ready\"\n- [ ] n8n uploads video to YouTube Shorts\n- [ ] Status auto-updates to \"published\"\n- [ ] YouTube link appears in file\n`;\n\n// Generate filename: MM.dd.yyyy | Band Name @bandnameIG.md\nconst [year, month, day] = j.postDate.split('-');\nconst filename = `${month}.${day}.${year} | ${j.bandName} ${j.bandUsernameIG}.md`;\n\nreturn {\n  json: {\n    ...j,\n    markdownContent: yaml,\n    filename: filename,\n    filenameSafe: filename.replace(/[^\\w\\s@\\-\\.\\|]/g, '').trim()\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        -112
      ],
      "id": "json-to-markdown",
      "name": "JSON to Markdown + Frontmatter"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.OBSIDIAN_HOST }}/vault/StPeteMusic/YouTube/Shorts/{{ $json.filenameSafe }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "body": "={{ $json.markdownContent }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        -112
      ],
      "id": "send-to-obsidian",
      "name": "Send to Obsidian"
    },
    {
      "parameters": {
        "content": "=## \u2705 YouTube Short Created!\n\n**Band:** {{ $json.bandName }}\n**Date:** {{ $json.postDate }}\n**Status:** {{ $json.status }}\n\n**Next Steps:**\n1. Add video link to `mediaLink` field in Obsidian\n2. Edit caption if needed\n3. When ready, change status to `ready`\n4. n8n will then upload to YouTube Shorts\n\n**File:** {{ $json.filename }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chatMessage",
      "typeVersion": 1,
      "position": [
        1300,
        -112
      ],
      "id": "chat-response",
      "name": "Chat Response"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "ai_memory": [
        [
          {
            "node": "Conversation Memory",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ],
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "JSON to Markdown + Frontmatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON to Markdown + Frontmatter": {
      "main": [
        [
          {
            "node": "Send to Obsidian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Obsidian": {
      "main": [
        [
          {
            "node": "Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}